Repository minvws/nl-kat-coordination, pull requests merged in 2023-05, with the labels that each got.

#850 Fix cancel url at organization edit view
  rocky/rocky/templates/organizations/organization_edit.html
Labels: bug

#834 Updated linter configs
  boefjes/boefjes/katalogus/dependencies/plugins.py
  boefjes/boefjes/katalogus/tests/integration/test_api.py
  boefjes/boefjes/katalogus/tests/integration/test_sql_repositories.py
  boefjes/boefjes/plugin_repository/api/routers/simplestreams.py
  boefjes/boefjes/plugins/kat_binaryedge/databases/normalize.py
  boefjes/boefjes/plugins/kat_binaryedge/protocols/normalize.py
  boefjes/boefjes/plugins/kat_dns/normalize.py
  boefjes/boefjes/plugins/kat_fierce/fierce.py
  boefjes/boefjes/plugins/kat_leakix/normalize.py
  boefjes/boefjes/plugins/kat_snyk/check_version.py
  boefjes/boefjes/plugins/kat_webpage_analysis/boefje.json
  boefjes/boefjes/plugins/kat_webpage_analysis/main.py
  boefjes/boefjes/plugins/kat_wpscan/main.py
  bytes/bytes/api/router.py
  bytes/tests/conftest.py
  bytes/tests/integration/test_meta_repository.py
  mula/scheduler/queues/pq.py
  mula/tests/integration/test_datastore.py
  mula/tests/unit/test_queue.py
  octopoes/bits/check_csp_header/check_csp_header.py
  octopoes/bits/missing_dkim/missing_dkim.py
  octopoes/bits/missing_dmarc/missing_dmarc.py
  octopoes/bits/missing_spf/missing_spf.py
  octopoes/bits/spf_discovery/internetnl_spf_parser.py
  octopoes/bits/ssl_certificate_hostname/ssl_certificate_hostname.py
  octopoes/octopoes/core/service.py
  octopoes/octopoes/repositories/ooi_repository.py
  octopoes/octopoes/repositories/origin_parameter_repository.py
  octopoes/octopoes/repositories/origin_repository.py
  octopoes/octopoes/xtdb/related_field_generator.py
  pyproject.toml
  rocky/account/migrations/0001_initial.py
  rocky/katalogus/client.py
  rocky/onboarding/forms.py
  rocky/rocky/keiko.py
  rocky/rocky/middleware/auth_required.py
  rocky/rocky/middleware/onboarding.py
  rocky/tools/forms/base.py
  rocky/tools/management/commands/generate_report.py
  rocky/tools/ooi_form.py
  rocky/tools/ooi_helpers.py
Labels: python, tech-debt

#902 Dependabot merges
  boefjes/boefjes/plugin_repository/requirements.txt
  boefjes/boefjes/plugins/kat_crt_sh/requirements.txt
  boefjes/boefjes/plugins/kat_snyk/requirements.txt
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  bytes/requirements-dev.txt
  bytes/requirements.txt
  keiko/poetry.lock
  keiko/pyproject.toml
  keiko/requirements.txt
  octopoes/poetry.lock
  octopoes/pyproject.toml
  octopoes/requirements-dev.txt
  octopoes/requirements.txt
  rocky/requirements.txt
Labels: dependencies

#860 Use superuser credentials from .env file
  .env-dist
  docs/source/technical_design/localinstall.rst
  rocky/Makefile
Labels: rocky

#903 Updated playwright
  boefjes/boefjes/plugins/kat_webpage_capture/main.py
Labels: bug, boefjes

#909 Fix fierce normalizer to create hostnames without a trailing dot
  boefjes/boefjes/plugins/kat_fierce/normalize.py
  boefjes/tests/examples/inputs/fierce-result-example.com.json
  boefjes/tests/test_fierce.py
Labels: bug

#910 Fix reset scan profile bug and reduce octopoes calls in view
  rocky/rocky/views/scan_profile.py
  rocky/tests/objects/test_objects_scan_profile.py
Labels: bug, rocky

#851 Feature/octopoes path queries
  octopoes/octopoes/xtdb/query.py
  octopoes/tests/test_query.py
  octopoes/tests/test_query_builder_new.py
Labels: octopoes, xtdb

#818 Wrap all import errors in ModuleExceptions while resolving plugins
  boefjes/boefjes/katalogus/local_repository.py
  boefjes/boefjes/plugins/models.py
  boefjes/tests/modules/dummy_normalizer_import_error/__init__.py
  boefjes/tests/modules/dummy_normalizer_import_error/normalize.py
  boefjes/tests/modules/dummy_normalizer_import_error/normalizer.json
Labels: enhancement, boefjes

#662 Implement openmetrics endpoint in mula
  mula/requirements.txt
  mula/scheduler/app.py
  mula/scheduler/config/settings.py
  mula/scheduler/connectors/services/katalogus.py
  mula/scheduler/context/context.py
  mula/scheduler/schedulers/boefje.py
  mula/scheduler/schedulers/scheduler.py
  mula/scheduler/server/server.py
Labels: mula

#943 Dependabot prs
  bytes/requirements-dev.txt
  bytes/requirements.txt
  keiko/poetry.lock
  keiko/pyproject.toml
  keiko/requirements-dev.txt
  keiko/requirements.txt
  octopoes/poetry.lock
  octopoes/pyproject.toml
  octopoes/requirements-dev.txt
  octopoes/requirements.txt
  rocky/requirements.txt
Labels: dependencies

#918 Feature/octopoes xtdb integration tests
  .github/workflows/octopoes_rtest-crux-regression.yml
  .github/workflows/octopoes_rtest.yml
  .github/workflows/octopoes_tests.yml
  bytes/Dockerfile
  octopoes/.ci/ci-multinode.env
  octopoes/.ci/docker-compose.yml
  octopoes/Dockerfile
  octopoes/Makefile
  octopoes/octopoes/api/router.py
  octopoes/octopoes/core/app.py
  octopoes/octopoes/xtdb/client.py
  octopoes/octopoes/xtdb/exceptions.py
  octopoes/tests/conftest.py
  octopoes/tests/integration/__init__.py
  octopoes/tests/integration/test_xtdb_client.py
  octopoes/tests/test_api.py
Labels: octopoes

#912 Add indices for hash fields
  mula/.ci/.env.test
  mula/.ci/docker-compose.yml
  mula/Makefile
  mula/scheduler/alembic/versions/0006_add_jsonb_fields_add_jsonb_fields.py
  mula/scheduler/models/queue.py
  mula/scheduler/models/tasks.py
  mula/tests/integration/test_api.py
  mula/tests/integration/test_app.py
  mula/tests/integration/test_boefje_scheduler.py
  mula/tests/integration/test_datastore.py
  mula/tests/integration/test_normalizer_scheduler.py
  mula/tests/unit/test_queue.py
  mula/tests/utils/functions.py
Labels: mula

#936 Better raw output to download in Rocky from Bytes on crashes
  boefjes/boefjes/job_handler.py
  boefjes/tests/test_tasks.py
Labels: boefjes, python, backend

#855 updated texts
  rocky/OOI_database_seed.json
Labels: documentation

#832 Optimize scheduler
  mula/scheduler/app.py
  mula/scheduler/connectors/listeners/__init__.py
  mula/scheduler/connectors/listeners/listeners.py
  mula/scheduler/connectors/listeners/normalizer_meta.py
  mula/scheduler/connectors/listeners/raw_data.py
  mula/scheduler/connectors/listeners/scan_profile.py
  mula/scheduler/connectors/services/katalogus.py
  mula/scheduler/context/context.py
  mula/scheduler/models/normalizer.py
  mula/scheduler/models/queue.py
  mula/scheduler/queues/pq.py
  mula/scheduler/schedulers/boefje.py
  mula/scheduler/schedulers/normalizer.py
  mula/scheduler/schedulers/scheduler.py
  mula/scheduler/server/server.py
  mula/tests/integration/test_boefje_scheduler.py
  mula/tests/integration/test_normalizer_scheduler.py
  mula/tests/integration/test_scheduler.py
Labels: mula

#931 Updated linter configs
  boefjes/boefjes/plugins/kat_adr_validator/main.py
  boefjes/boefjes/plugins/kat_leakix/main.py
  boefjes/boefjes/plugins/kat_nuclei/main.py
  boefjes/boefjes/plugins/kat_nuclei_cve/main.py
  boefjes/boefjes/plugins/kat_nuclei_exposed_panels/main.py
  boefjes/boefjes/plugins/kat_nuclei_take_over/main.py
  bytes/bytes/config.py
  bytes/bytes/timestamping/pastebin.py
  bytes/bytes/timestamping/rfc3161.py
  bytes/tests/unit/test_raw_repository.py
  keiko/keiko/keiko.py
  mula/scheduler/queues/pq.py
  mula/scheduler/repositories/sqlalchemy/task_store.py
  mula/scheduler/repositories/stores.py
  mula/scheduler/schedulers/scheduler.py
  mula/scheduler/server/server.py
  octopoes/bits/oois_in_headers/oois_in_headers.py
  octopoes/bits/spf_discovery/internetnl_spf_parser.py
  octopoes/octopoes/models/ooi/software.py
  pyproject.toml
  rocky/katalogus/views/plugin_detail.py
  rocky/rocky/scheduler.py
  rocky/rocky/views/ooi_detail.py
  rocky/tools/add_ooi_information.py
  rocky/tools/admin.py
  rocky/tools/forms/finding_type.py
  rocky/tools/models.py
  rocky/tools/ooi_form.py
Labels: python, tech-debt

#946 Upgrade to RabbitMQ 3.11
  bytes/.ci/docker-compose.yml
  docker-compose.release-example.yml
  docker-compose.yml
  octopoes/.ci/docker-compose-crux.yml
  octopoes/.ci/docker-compose.yml
Labels: backend

#979 Dependabot PRs
  boefjes/boefjes/plugin_repository/requirements.txt
  boefjes/boefjes/plugins/kat_crt_sh/requirements.txt
  boefjes/boefjes/plugins/kat_snyk/requirements.txt
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  bytes/requirements-dev.txt
  bytes/requirements.txt
  keiko/poetry.lock
  keiko/pyproject.toml
  keiko/requirements-dev.txt
  keiko/requirements.txt
  mula/requirements.txt
  octopoes/poetry.lock
  octopoes/pyproject.toml
  octopoes/requirements-dev.txt
  octopoes/requirements.txt
  rocky/requirements.txt
Labels: dependencies, python

#985 Updated docker-py
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
Labels: bug, dependencies

#828 Create boefjes.md
  boefjes/README.md
  docs/source/developer_documentation/boefjes.md
  docs/source/developer_documentation/bytes.md
  docs/source/developer_documentation/keiko.md
  docs/source/developer_documentation/mula.md
  docs/source/developer_documentation/octopoes.md
  docs/source/developer_documentation/rocky.md
  rocky/Readme.md
Labels: documentation

#992 Delete `plugin_repository` package
  .github/workflows/boefjes_container_image.yml
  .github/workflows/boefjes_debian_package.yml
  boefjes/boefjes/plugin_repository/Dockerfile
  boefjes/boefjes/plugin_repository/__init__.py
  boefjes/boefjes/plugin_repository/api/__init__.py
  boefjes/boefjes/plugin_repository/api/main.py
  boefjes/boefjes/plugin_repository/api/repository.py
  boefjes/boefjes/plugin_repository/api/routers/__init__.py
  boefjes/boefjes/plugin_repository/api/routers/plugins.py
  boefjes/boefjes/plugin_repository/api/routers/simplestreams.py
  boefjes/boefjes/plugin_repository/config.py
  boefjes/boefjes/plugin_repository/models.py
  boefjes/boefjes/plugin_repository/requirements.txt
  boefjes/boefjes/plugin_repository/tests/__init__.py
  boefjes/boefjes/plugin_repository/tests/common.py
  boefjes/boefjes/plugin_repository/tests/fixtures/dump-1
  boefjes/boefjes/plugin_repository/tests/fixtures/dump-2
  boefjes/boefjes/plugin_repository/tests/fixtures/test-bit.yml
  boefjes/boefjes/plugin_repository/tests/fixtures/test-boefje.yml
  boefjes/boefjes/plugin_repository/tests/fixtures/test-normalizer.yml
  boefjes/boefjes/plugin_repository/tests/images/test-bit-1:0.1/bit.yml
  boefjes/boefjes/plugin_repository/tests/images/test-boefje-1:0.1/boefje.yml
  boefjes/boefjes/plugin_repository/tests/images/test-boefje-2:0.1/boefje.yml
  boefjes/boefjes/plugin_repository/tests/images/test-normalizer-1:0.1/normalizer.yml
  boefjes/boefjes/plugin_repository/tests/test_api_upload.py
  boefjes/boefjes/plugin_repository/tests/test_hash.py
  boefjes/boefjes/plugin_repository/tests/test_plugin_api.py
  boefjes/boefjes/plugin_repository/tests/test_simplestreams.py
  boefjes/boefjes/plugin_repository/tests/test_utils.py
  boefjes/boefjes/plugin_repository/utils/__init__.py
  boefjes/boefjes/plugin_repository/utils/cache.py
  boefjes/boefjes/plugin_repository/utils/hash.py
  boefjes/boefjes/plugin_repository/utils/index.py
  boefjes/boefjes/plugin_repository/utils/utils.py
  boefjes/boefjes/plugin_repository/version.py
Labels: tech-debt

#978 Scheduler tests clean up
  mula/Makefile
  mula/tests/integration/test_boefje_scheduler.py
  mula/tests/integration/test_normalizer_scheduler.py
Labels: mula

#1021 Upgrade (default) container Dockerfiles from Python 3.8 to 3.11
  .github/workflows/rocky_tests.yml
  boefjes/Dockerfile
  bytes/Dockerfile
  keiko/Dockerfile
  mula/Dockerfile
  octopoes/Dockerfile
  rocky/Dockerfile
Labels: python, tech-debt, chore

#952 Only sleep when all queues are empty
  boefjes/Makefile
  boefjes/boefjes/app.py
  boefjes/tests/test_app.py
Labels: boefjes

#988 Fix scheduler ranking
  mula/scheduler/rankers/boefje.py
Labels: mula

#572 Add date, name and status filters
  rocky/rocky/templates/tasks/boefjes.html
  rocky/rocky/templates/tasks/normalizers.html
  rocky/rocky/templates/tasks/partials/task_filter.html
  rocky/rocky/views/tasks.py
  rocky/tests/test_boefjes_tasks.py
Labels: enhancement, frontend, rocky
