Repository minvws/nl-kat-coordination, pull requests merged in 2023-06, with the labels that each got.

#1084 Rocky: Add ALLOWED_HOSTS, CSRF_TRUSTED_ORIGINS env vars
  .env-dist
  docker-compose.yml
  docs/source/technical_design/hardening.rst
  rocky/rocky/settings.py
Labels: rocky

#1101 Implement callback for scheduler clean up
  mula/scheduler/app.py
  mula/scheduler/models/tasks.py
  mula/scheduler/schedulers/boefje.py
  mula/scheduler/schedulers/normalizer.py
  mula/scheduler/schedulers/scheduler.py
  mula/scheduler/utils/thread.py
Labels: mula

#1090 Remove tasks and items on mutation delete
  mula/Makefile
  mula/scheduler/alembic/versions/0007_add_cancelled_status_for_tasks.py
  mula/scheduler/models/tasks.py
  mula/scheduler/repositories/sqlalchemy/pq_store.py
  mula/scheduler/repositories/sqlalchemy/task_store.py
  mula/scheduler/repositories/stores.py
  mula/scheduler/schedulers/boefje.py
  mula/scheduler/server/server.py
  mula/tests/integration/test_boefje_scheduler.py
Labels: mula

#1003 Fix thread termination in Mula
  docker-compose.yml
  mula/.ci/.env.test
  mula/.ci/docker-compose.yml
  mula/.ci/rabbitmq.conf
  mula/Makefile
  mula/scheduler/app.py
  mula/scheduler/connectors/listeners/listeners.py
  mula/scheduler/context/context.py
  mula/scheduler/models/tasks.py
  mula/scheduler/schedulers/boefje.py
  mula/scheduler/schedulers/normalizer.py
  mula/scheduler/schedulers/scheduler.py
  mula/scheduler/server/server.py
  mula/scheduler/utils/thread.py
  mula/tests/integration/test_app.py
  mula/tests/mocks/__init__.py
  mula/tests/mocks/services.py
Labels: mula

#1075 Add bit to set default values for FindingType risk levels in Octopoes
  octopoes/bits/default_findingtype_risk/__init__.py
  octopoes/bits/default_findingtype_risk/bit.py
  octopoes/bits/default_findingtype_risk/default_findingtype_risk.py
  octopoes/tests/robot/05_bits.robot
  octopoes/tests/robot/robot.resource
  octopoes/tests/test_bit_default_findingtype_risk.py
Labels: octopoes

#1148 Make user full name required in Django model
  .env-dist
  rocky/account/migrations/0003_alter_katuser_full_name.py
  rocky/account/models.py
Labels: rocky

#1155 Fix incorrect reference for unhandled exceptions
  mula/scheduler/app.py
Labels: bug, mula

#1171 Upgrade OpenTelemetry SDK to 1.18.0/0.39b0
  boefjes/requirements.txt
  bytes/requirements.txt
  keiko/poetry.lock
  keiko/pyproject.toml
  keiko/requirements-dev.txt
  keiko/requirements.txt
  mula/requirements.txt
  octopoes/poetry.lock
  octopoes/pyproject.toml
  octopoes/requirements-dev.txt
  octopoes/requirements.txt
  rocky/requirements.txt
Labels: dependencies

#1122 Add external auth users to default organizations
  rocky/rocky/auth/__init__.py
  rocky/rocky/auth/remote_user.py
  rocky/rocky/settings.py
Labels: rocky, backend

#1083 Fix leaking environment variables in locally running boefjes
  boefjes/boefjes/job_handler.py
  boefjes/boefjes/local.py
  boefjes/tests/test_tasks.py
  docs/source/developer_documentation/boefjes.md
Labels: bug, boefjes

#1156 Fix expiring dict while flushing cache in scheduler
  mula/scheduler/connectors/services/katalogus.py
  mula/scheduler/utils/dict_utils.py
  mula/tests/unit/test_utils.py
Labels: bug, mula

#1203 Fix non-available preselected option on OOI add form
  rocky/tools/ooi_form.py
Labels: rocky

#1268 Fix lists in .env-dist after django-environ PR
  .env-dist
Labels: rocky

#1284 Nmap boefjes: report only open ports
  boefjes/boefjes/plugins/kat_nmap/main.py
  boefjes/boefjes/plugins/kat_nmap_ip_range/main.py
  boefjes/tests/test_nmap.py
Labels: boefjes
