Repository minvws/nl-kat-coordination, pull requests merged in 2023-12, with the labels that each got.

#2071 Add benchmarking script to the scheduler
  mula/tests/scripts/.gitignore
  mula/tests/scripts/benchmark.py
  mula/tests/scripts/load.py
Labels: mula

#2074 Create object history API
  octopoes/octopoes/api/router.py
  octopoes/octopoes/connector/octopoes.py
  octopoes/octopoes/core/service.py
  octopoes/octopoes/models/transaction.py
  octopoes/octopoes/repositories/ooi_repository.py
  octopoes/octopoes/xtdb/client.py
  octopoes/tests/integration/test_api_connector.py
  octopoes/tests/integration/test_xtdb_client.py
Labels: octopoes, backend, report

#2063 Scheduler threading fixes
  mula/scheduler/app.py
  mula/scheduler/connectors/listeners/listeners.py
  mula/scheduler/queues/pq.py
  mula/scheduler/utils/thread.py
  mula/tests/integration/test_api.py
  mula/tests/integration/test_app.py
  mula/tests/integration/test_boefje_scheduler.py
  mula/tests/integration/test_normalizer_scheduler.py
  mula/tests/integration/test_scheduler.py
  mula/tests/integration/test_task_store.py
  mula/tests/unit/test_filter.py
  mula/tests/unit/test_queue.py
Labels: mula

#2095 Task rescheduling checks now for organization
  rocky/katalogus/views/plugin_detail.py
  rocky/rocky/locale/django.pot
  rocky/rocky/scheduler.py
  rocky/rocky/views/ooi_detail.py
  rocky/rocky/views/task_detail.py
  rocky/rocky/views/tasks.py
  rocky/tests/test_boefjes_tasks.py
  rocky/tools/view_helpers.py
Labels: backport

#1808 Update jsonSchemaToForm.js to use 'default' values
  rocky/assets/js/jsonSchemaToForm.js
Labels: enhancement, frontend

#2118 Remove `pre-commit` from dev requirements
  .github/workflows/pre_commit_checks.yml
  Makefile
  boefjes/poetry.lock
  boefjes/pyproject.toml
  boefjes/requirements-dev.txt
  bytes/poetry.lock
  bytes/pyproject.toml
  bytes/requirements-dev.txt
  cveapi/requirements.txt
  octopoes/poetry.lock
  octopoes/pyproject.toml
  octopoes/requirements-dev.txt
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Labels: tech-debt

#2130 Add Name Server reports
  boefjes/boefjes/plugins/kat_kat_finding_types/kat_finding_types.json
  rocky/reports/report_types/helpers.py
  rocky/reports/report_types/mail_report/report.html
  rocky/reports/report_types/name_server_report/__init__.py
  rocky/reports/report_types/name_server_report/report.html
  rocky/reports/report_types/name_server_report/report.py
  rocky/rocky/locale/django.pot
Labels: backend, report

#2126 Safe Connections Report
  rocky/reports/report_types/helpers.py
  rocky/reports/report_types/safe_connections_report/__init__.py
  rocky/reports/report_types/safe_connections_report/report.html
  rocky/reports/report_types/safe_connections_report/report.py
  rocky/rocky/locale/django.pot
Labels: backend, report

#2123 Add the Web basic security report
  octopoes/octopoes/connector/octopoes.py
  octopoes/tests/conftest.py
  octopoes/tests/integration/test_xtdb_client.py
  rocky/reports/report_types/helpers.py
  rocky/reports/report_types/mail_report/report.py
  rocky/reports/report_types/systems_report/report.py
  rocky/reports/report_types/web_system_report/__init__.py
  rocky/reports/report_types/web_system_report/report.html
  rocky/reports/report_types/web_system_report/report.py
  rocky/rocky/locale/django.pot
Labels: backend, report

#2131 Fix rescheduling
  mula/scheduler/models/queue.py
  mula/scheduler/models/tasks.py
  mula/scheduler/server/server.py
  mula/tests/integration/test_api.py
  mula/tests/mocks/queue.py
  rocky/katalogus/views/mixins.py
  rocky/katalogus/views/plugin_detail.py
  rocky/rocky/locale/django.pot
  rocky/rocky/scheduler.py
  rocky/tools/view_helpers.py
Labels: mula, rocky

#2164 Fix for optional `Reference`s in token trees
  octopoes/octopoes/models/__init__.py
Labels: bug

#2169 Add a request model for push endpoint in scheduler
  mula/scheduler/models/__init__.py
  mula/scheduler/models/queue.py
  mula/scheduler/models/request.py
  mula/scheduler/server/server.py
  mula/tests/integration/test_api.py
  mula/tests/utils/functions.py
Labels: mula

#2204 Add scheduler stats to boefje/normaliser task pages in rocky.
  rocky/rocky/locale/django.pot
  rocky/rocky/scheduler.py
  rocky/rocky/templates/tasks/boefjes.html
  rocky/rocky/templates/tasks/normalizers.html
  rocky/rocky/templates/tasks/partials/stats.html
  rocky/rocky/views/tasks.py
Labels: rocky

#2192 Fixes sidemenu animation and behaviour
  rocky/assets/css/themes/soft/manon/sidemenu.scss
  rocky/reports/templates/partials/report_sidemenu.html
Labels: frontend

#2143 Add less verbose logging and introduce structured logging in the scheduler
  mula/docs/configuration.md
  mula/logging.json
  mula/poetry.lock
  mula/pyproject.toml
  mula/requirements-dev.txt
  mula/requirements.txt
  mula/scheduler/app.py
  mula/scheduler/config/settings.py
  mula/scheduler/connectors/connector.py
  mula/scheduler/connectors/listeners/listeners.py
  mula/scheduler/connectors/services/katalogus.py
  mula/scheduler/connectors/services/services.py
  mula/scheduler/context/context.py
  mula/scheduler/models/queue.py
  mula/scheduler/models/scheduler.py
  mula/scheduler/queues/pq.py
  mula/scheduler/rankers/ranker.py
  mula/scheduler/schedulers/boefje.py
  mula/scheduler/schedulers/normalizer.py
  mula/scheduler/schedulers/scheduler.py
  mula/scheduler/server/server.py
  mula/scheduler/utils/thread.py
  mula/tests/integration/test_boefje_scheduler.py
  mula/tests/integration/test_normalizer_scheduler.py
Labels: mula

#2211 add html entities escaping to normalizer results
  rocky/assets/js/renderNormalizerOutputOOIs.js
Labels: rocky, javascript

#2218 Fix health endpoint scheduler
  mula/scheduler/connectors/services/services.py
  mula/scheduler/server/server.py
Labels: mula

#2209 Add multi organization report
  .pre-commit-config.yaml
  octopoes/tests/robot/06_scan_profile_inheritance.robot
  rocky/.editorconfig
  rocky/reports/report_types/aggregate_organisation_report/basic_security.html
  rocky/reports/report_types/aggregate_organisation_report/report.py
  rocky/reports/report_types/aggregate_organisation_report/system_specific.html
  rocky/reports/report_types/definitions.py
  rocky/reports/report_types/multi_organization_report/__init__.py
  rocky/reports/report_types/multi_organization_report/appendix.html
  rocky/reports/report_types/multi_organization_report/asset_overview.html
  rocky/reports/report_types/multi_organization_report/basic_security_details.html
  rocky/reports/report_types/multi_organization_report/introduction.html
  rocky/reports/report_types/multi_organization_report/ipv6.html
  rocky/reports/report_types/multi_organization_report/open_ports.html
  rocky/reports/report_types/multi_organization_report/recommendations.html
  rocky/reports/report_types/multi_organization_report/report.html
  rocky/reports/report_types/multi_organization_report/report.py
  rocky/reports/report_types/multi_organization_report/summary.html
  rocky/reports/report_types/multi_organization_report/vulnerabilities.html
  rocky/reports/report_types/open_ports_report/report.html
  rocky/reports/report_types/open_ports_report/report.py
  rocky/reports/report_types/vulnerability_report/report.py
  rocky/reports/templates/multi_report.html
  rocky/reports/templates/multi_report_pdf.html
  rocky/reports/templates/partials/report_navigation.html
  rocky/reports/urls.py
  rocky/reports/views/aggregate_report.py
  rocky/reports/views/base.py
  rocky/reports/views/multi_report.py
  rocky/rocky/locale/django.pot
  rocky/rocky/views/health.py
  rocky/tests/integration/conftest.py
  rocky/tests/integration/test_reports.py
  rocky/tools/templatetags/ooi_extra.py
Labels: report
