Repository minvws/nl-kat-coordination, pull requests merged in 2023-08, with the labels that each got.

#1500 Commit xtdb session before returning request from Octopoes
  octopoes/.ci/docker-compose.yml
  octopoes/octopoes/api/router.py
  octopoes/octopoes/core/service.py
  octopoes/octopoes/repositories/ooi_repository.py
  octopoes/octopoes/repositories/origin_parameter_repository.py
  octopoes/octopoes/repositories/origin_repository.py
  octopoes/octopoes/repositories/repository.py
  octopoes/octopoes/repositories/scan_profile_repository.py
  octopoes/octopoes/xtdb/client.py
Labels: octopoes, xtdb, backend

#1525 Read .env in rocky settings
  rocky/rocky/settings.py
Labels: rocky, backport1.10

#1547 Make WPScan API token optional
  boefjes/boefjes/plugins/kat_wpscan/boefje.json
  boefjes/boefjes/plugins/kat_wpscan/main.py
  boefjes/boefjes/plugins/kat_wpscan/schema.json
Labels: boefjes

#1572 Manage boefjes requirements with Poetry
  boefjes/Dockerfile
  boefjes/boefjes/plugins/kat_adr_finding_types/requirements.txt
  boefjes/boefjes/plugins/kat_binaryedge/requirements.txt
  boefjes/boefjes/plugins/kat_burpsuite/requirements.txt
  boefjes/boefjes/plugins/kat_censys/requirements.txt
  boefjes/boefjes/plugins/kat_crt_sh/requirements.txt
  boefjes/boefjes/plugins/kat_cve_2023_35078/requirements.txt
  boefjes/boefjes/plugins/kat_cve_finding_types/requirements.txt
  boefjes/boefjes/plugins/kat_cwe_finding_types/requirements.txt
  boefjes/boefjes/plugins/kat_dicom/requirements.txt
  boefjes/boefjes/plugins/kat_dns/requirements.txt
  boefjes/boefjes/plugins/kat_dns_zone/requirements.txt
  boefjes/boefjes/plugins/kat_external_db/requirements.txt
  boefjes/boefjes/plugins/kat_green_hosting/requirements.txt
  boefjes/boefjes/plugins/kat_kat_finding_types/requirements.txt
  boefjes/boefjes/plugins/kat_leakix/requirements.txt
  boefjes/boefjes/plugins/kat_log4shell/requirements.txt
  boefjes/boefjes/plugins/kat_masscan/requirements.txt
  boefjes/boefjes/plugins/kat_nmap/requirements.txt
  boefjes/boefjes/plugins/kat_nuclei_cve/requirements.txt
  boefjes/boefjes/plugins/kat_nuclei_exposed_panels/requirements.txt
  boefjes/boefjes/plugins/kat_nuclei_take_over/requirements.txt
  boefjes/boefjes/plugins/kat_retirejs_finding_types/requirements.txt
  boefjes/boefjes/plugins/kat_sec_txt/requirements.txt
  boefjes/boefjes/plugins/kat_shodan/requirements.txt
  boefjes/boefjes/plugins/kat_snyk/requirements.txt
  boefjes/boefjes/plugins/kat_snyk_finding_types/requirements.txt
  boefjes/boefjes/plugins/kat_ssl_certificates/requirements.txt
  boefjes/boefjes/plugins/kat_ssl_scan/requirements.txt
  boefjes/boefjes/plugins/kat_webpage_analysis/check_images/requirements.txt
  boefjes/boefjes/plugins/kat_webpage_analysis/find_images_in_html/requirements.txt
  boefjes/boefjes/plugins/kat_webpage_analysis/requirements.txt
  boefjes/boefjes/plugins/kat_webpage_capture/requirements.txt
  boefjes/boefjes/plugins/kat_website_software/requirements.txt
  boefjes/boefjes/plugins/kat_wpscan/requirements.txt
  boefjes/boefjes/plugins/pdio_subfinder/requirements.txt
  boefjes/debian/rules
  boefjes/poetry.lock
  boefjes/pyproject.toml
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
Labels: boefjes

#1584 Fix `rstcheck` hook
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Labels: bug

#1576 Upgrade FastAPI
  boefjes/poetry.lock
  boefjes/pyproject.toml
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  bytes/poetry.lock
  bytes/pyproject.toml
  bytes/requirements-dev.txt
  bytes/requirements.txt
  keiko/poetry.lock
  keiko/pyproject.toml
  keiko/requirements-dev.txt
  keiko/requirements.txt
  mula/poetry.lock
  mula/pyproject.toml
  mula/requirements-dev.txt
  mula/requirements.txt
  octopoes/octopoes/api/router.py
  octopoes/octopoes/models/__init__.py
  octopoes/poetry.lock
  octopoes/pyproject.toml
  octopoes/requirements-dev.txt
  octopoes/requirements.txt
Labels: dependencies, tech-debt

#1476 Update scheduler documentation
  docs/source/developer_documentation/mula.md
  mula/.env-dist
  mula/docs/architecture.md
  mula/docs/configuration.md
  mula/docs/design.md
  mula/docs/extending.md
  mula/docs/openapi.json
  mula/scheduler/app.py
  mula/scheduler/config/settings.py
  mula/scheduler/connectors/connector.py
  mula/scheduler/connectors/listeners/raw_data.py
  mula/scheduler/connectors/listeners/scan_profile.py
  mula/scheduler/connectors/services/bytes.py
  mula/scheduler/connectors/services/katalogus.py
  mula/scheduler/connectors/services/octopoes.py
  mula/scheduler/context/context.py
  mula/scheduler/queues/boefje.py
  mula/scheduler/queues/normalizer.py
  mula/scheduler/queues/pq.py
  mula/scheduler/rankers/boefje.py
  mula/scheduler/rankers/normalizer.py
  mula/scheduler/schedulers/boefje.py
  mula/scheduler/schedulers/normalizer.py
  mula/scheduler/schedulers/scheduler.py
  mula/scheduler/server/server.py
Labels: documentation, mula

#1627 Fix `poetry-dependencies` target in Makefile
  Makefile
Labels: bug, enhancement, tech-debt

#1693 Add boefje name to Boefje Task
  mula/scheduler/models/boefje.py
  mula/scheduler/schedulers/boefje.py
  rocky/katalogus/views/mixins.py
  rocky/rocky/scheduler.py
Labels: mula, rocky
