Repository minvws/nl-kat-coordination, pull requests merged in 2023-03, with the labels that each got.

#466 Use 127.0.0.1 instead of localhost in RabbitMQ URI
  docs/source/technical_design/debianinstall.rst
Labels: sprint-4

#457 Turn keiko reports directory into a Docker volume
  docker-compose.yml
  keiko/.ci/docker-compose.yml
  keiko/Dockerfile
  keiko/Makefile
  keiko/keiko/api.py
  keiko/keiko/app.py
  keiko/keiko/cli.py
  keiko/keiko/keiko.py
  keiko/keiko/logging.py
  keiko/keiko/settings.py
  keiko/keiko/templates.py
  keiko/tests/test_api.py
  keiko/tests/test_glossary.py
  keiko/tests/test_templates.py
Labels: keiko, sprint-4

#480 Add configuration for number of random objects for scheduler
  mula/docs/configuration.md
  mula/scheduler/config/settings.py
  mula/scheduler/schedulers/boefje.py
Labels: mula

#489 Remove the try logic from the random endpoint
  mula/scheduler/schedulers/boefje.py
  mula/tests/integration/test_boefje_scheduler.py
Labels: mula

#456 Seed on startup and add missing method
  boefjes/boefjes/katalogus/routers/repositories.py
  boefjes/boefjes/sql/repository_storage.py
  boefjes/entrypoint.sh
Labels: boefjes, sprint-4

#318 Feature/member edit view
  rocky/account/forms/account_setup.py
  rocky/assets/src/bundles/app/css/components/scan-level-indicator.scss
  rocky/rocky/templates/organizations/organization_detail.html
  rocky/rocky/templates/organizations/organization_member_edit.html
  rocky/rocky/templates/organizations/organization_member_list.html
  rocky/rocky/templates/organizations/select_clearance_level_radio_input.html
  rocky/rocky/templates/partials/form/field_input.html
  rocky/rocky/templates/partials/form/field_input_radio.html
  rocky/rocky/templates/partials/notifications/confirmation.html
  rocky/rocky/templates/partials/scan_level_indicator.html
  rocky/rocky/urls.py
  rocky/rocky/views/organization_add.py
  rocky/rocky/views/organization_edit.py
  rocky/rocky/views/organization_member_edit.py
  rocky/tests/test_members.py
  rocky/tests/test_organization.py
  rocky/tools/management/commands/setup_dev_account.py
Labels: frontend, sprint-4

#560 Fix organization indemnification permission checks
  rocky/rocky/templates/organizations/organization_detail.html
  rocky/rocky/views/indemnification_add.py
  rocky/tests/test_organization.py
Labels: openkat-1.8, sprint-5

#571 Fix clearance grant/revoke permission check
  rocky/rocky/views/organization_member_list.py
  rocky/tests/test_organization.py
  rocky/tools/management/commands/setup_dev_account.py
Labels: rocky, backport1.7

#536 Fix/testing different users
  rocky/tests/account/test_login.py
  rocky/tests/conftest.py
  rocky/tests/objects/test_objects.py
  rocky/tests/objects/test_objects_add.py
  rocky/tests/objects/test_objects_delete.py
  rocky/tests/objects/test_objects_detail.py
  rocky/tests/objects/test_objects_edit.py
  rocky/tests/objects/test_objects_findings.py
  rocky/tests/objects/test_objects_graph.py
  rocky/tests/objects/test_objects_report.py
  rocky/tests/objects/test_objects_scan_profile.py
  rocky/tests/objects/test_objects_tree.py
  rocky/tests/test_boefjes_tasks.py
  rocky/tests/test_crisis_room.py
  rocky/tests/test_findings_add.py
  rocky/tests/test_katalogus.py
  rocky/tests/test_katalogus_plugin_detail.py
  rocky/tests/test_landing_page.py
  rocky/tests/test_onboarding_create_organization.py
  rocky/tests/test_onboarding_organization_steps.py
  rocky/tests/test_privacy_statement.py
  rocky/tests/test_scans.py
  rocky/tests/test_upload_csv.py
  rocky/tests/test_upload_raw.py
  rocky/tests/test_user_helpers.py
Labels: frontend, rocky, sprint-5

#585 Load mermaid.js locally
  .pre-commit-config.yaml
  docs/source/_static/mermaid-9.4.3.min.js
  docs/source/conf.py
  requirements.txt
Labels: documentation

#594 Fix: Plugin detail showing None with none links at scans section
  rocky/rocky/templates/partials/scan_history.html
  rocky/tests/objects/test_objects_detail.py
Labels: backport1.7

#528 refactor(organization lists): unify access to organizations by user
  rocky/account/models.py
  rocky/account/templatetags/__init__.py
  rocky/account/templatetags/organization_management.py
  rocky/crisis_room/views.py
  rocky/katalogus/views/katalogus_settings.py
  rocky/rocky/middleware/onboarding.py
  rocky/rocky/settings.py
  rocky/rocky/templates/crisis_room/crisis_room_findings_block.html
  rocky/rocky/templates/header.html
  rocky/rocky/templates/organizations/organization_list.html
  rocky/rocky/templates/partials/organizations_menu_dropdown.html
  rocky/rocky/views/organization_list.py
  rocky/tests/test_models.py
  rocky/tests/test_organization.py
  rocky/tests/test_user_helpers.py
  rocky/tools/context_processors.py
  rocky/tools/models.py
  rocky/tools/user_helpers.py
Labels: openkat-1.8, sprint-5

#600 Add indices for Bytes
  bytes/bytes/database/db_models.py
  bytes/bytes/database/migrations/env.py
  bytes/bytes/database/migrations/versions/fa64454868a9_add_index_on_boefjemeta_table_.py
  bytes/sql_migrations/0015_fa64454868a9_add_indices.sql
Labels: sprint-5, backport1.7

#558 Remove loop from get random objects
  mula/scheduler/schedulers/boefje.py
Labels: bug, mula, openkat-1.8

#516 Feature: Add Subfinder Boefje
  boefjes/boefjes/plugins/pdio_subfinder/__init__.py
  boefjes/boefjes/plugins/pdio_subfinder/boefje.json
  boefjes/boefjes/plugins/pdio_subfinder/cover.jpg
  boefjes/boefjes/plugins/pdio_subfinder/description.md
  boefjes/boefjes/plugins/pdio_subfinder/main.py
  boefjes/boefjes/plugins/pdio_subfinder/normalize.py
  boefjes/boefjes/plugins/pdio_subfinder/normalizer.json
  boefjes/boefjes/plugins/pdio_subfinder/requirements.txt
Labels: enhancement, sprint-6, sprint-7

#574 Feature/mula new boefjes
  mula/scheduler/connectors/services/katalogus.py
  mula/scheduler/connectors/services/octopoes.py
  mula/scheduler/schedulers/boefje.py
  mula/tests/integration/test_boefje_scheduler.py
  mula/tests/unit/test_datastore.py
Labels: mula, sprint-6

#593 changes to allow for custom fonts
  keiko/Dockerfile
  keiko/debian/control
Labels: keiko

#621 Fixes the redirect to the onboarding flow
  rocky/rocky/middleware/onboarding.py
  rocky/rocky/templates/two_factor/core/setup_complete.html
  rocky/tests/test_onboarding.py
Labels: bug, sprint-6
