Repository minvws/nl-kat-coordination, pull requests merged in 2023-07, with the labels that each got.

#1175 External asset database boefje
  boefjes/boefjes/plugins/kat_external_db/__init__.py
  boefjes/boefjes/plugins/kat_external_db/boefje.json
  boefjes/boefjes/plugins/kat_external_db/cover.jpg
  boefjes/boefjes/plugins/kat_external_db/description.md
  boefjes/boefjes/plugins/kat_external_db/main.py
  boefjes/boefjes/plugins/kat_external_db/normalize.py
  boefjes/boefjes/plugins/kat_external_db/normalizer.json
  boefjes/boefjes/plugins/kat_external_db/requirements.txt
  boefjes/boefjes/plugins/kat_external_db/schema.json
Labels: plugins, boefjes, backend

#1311 Fix mermaid diagrams in docs for Bytes and Octopoes
  docs/source/developer_documentation/bytes.md
  docs/source/developer_documentation/octopoes.md
Labels: bug, documentation, bytes, octopoes

#1307 Add documentation about Config OOI's
  docs/source/manual/usermanual.rst
Labels: documentation

#1322 Remove unused method from DNSReport view
  rocky/onboarding/views.py
Labels: rocky

#1187 Fix hanging worker processes on a SIGKILL (e.g. when the container is out of memory)
  boefjes/boefjes/__main__.py
  boefjes/boefjes/app.py
  boefjes/boefjes/clients/scheduler_client.py
  boefjes/boefjes/config.py
  boefjes/boefjes/job_handler.py
  boefjes/boefjes/runtime_interfaces.py
  boefjes/tests/conftest.py
  boefjes/tests/examples/scheduler/pop_response_boefje.json
  boefjes/tests/examples/scheduler/should_crash.json
  boefjes/tests/test_app.py
Labels: bug, boefjes

#1369 Remove redundant `pyproject` config entries
  boefjes/pyproject.toml
  bytes/pyproject.toml
  mula/pyproject.toml
  rocky/pyproject.toml
Labels: python, tech-debt

#1359 Do not force that deletion can only be done by superuser
  rocky/tools/admin.py
Labels: rocky, python

#1345 Fix 403 on "My organizations" page
  rocky/rocky/templates/partials/secondary-menu.html
  rocky/rocky/views/organization_list.py
  rocky/tests/test_organization.py
Labels: rocky, python

#1305 Implement enabling/disabling schedulers
  mula/scheduler/app.py
  mula/scheduler/models/scheduler.py
  mula/scheduler/queues/pq.py
  mula/scheduler/repositories/sqlalchemy/pq_store.py
  mula/scheduler/repositories/sqlalchemy/task_store.py
  mula/scheduler/repositories/stores.py
  mula/scheduler/schedulers/boefje.py
  mula/scheduler/schedulers/normalizer.py
  mula/scheduler/schedulers/scheduler.py
  mula/scheduler/server/server.py
  mula/tests/integration/test_api.py
  mula/tests/integration/test_boefje_scheduler.py
  mula/tests/integration/test_normalizer_scheduler.py
  mula/tests/integration/test_scheduler.py
  mula/tests/mocks/listener.py
  mula/tests/mocks/queue.py
  mula/tests/mocks/ranker.py
  mula/tests/mocks/scheduler.py
  mula/tests/mocks/task.py
  mula/tests/unit/test_queue.py
Labels: mula

#1382 Add configurable octpoes request timeout
  mula/scheduler/config/settings.py
  mula/scheduler/connectors/services/octopoes.py
  mula/scheduler/context/context.py
Labels: mula

#1391 Fix <no title> in the user guide docs
  docs/source/manual/index.rst
Labels: documentation

#1395 Add explicit `black` config to all modules
  boefjes/pyproject.toml
  bytes/pyproject.toml
  keiko/pyproject.toml
  mula/pyproject.toml
  octopoes/pyproject.toml
  pyproject.toml
  rocky/pyproject.toml
Labels: bug, python, tech-debt

#1414 Add `task_id` as a query parameter to the `GET /origins` endpoint
  octopoes/octopoes/api/router.py
  octopoes/octopoes/connector/octopoes.py
  octopoes/octopoes/core/service.py
  octopoes/octopoes/repositories/origin_repository.py
  octopoes/tests/integration/test_api_connector.py
  octopoes/tests/robot/04_save_declaration.robot
  octopoes/tests/robot/07_rerun_bits.robot
  octopoes/tests/test_octopoes_service.py
  octopoes/tests/test_query_builder_new.py
  rocky/rocky/views/mixins.py
Labels: rocky, octopoes, chore, xtdb

#1410 Reschedule tasks when no results in bytes are found after grace period
  mula/scheduler/schedulers/boefje.py
  mula/tests/integration/test_boefje_scheduler.py
Labels: mula

#1428 Remove some unused config options, and set better defaults for others
  .env-dist
  boefjes/.env-dist
  boefjes/boefjes/config.py
  boefjes/boefjes/katalogus/dependencies/organisations.py
  boefjes/boefjes/katalogus/dependencies/plugins.py
  boefjes/boefjes/katalogus/dependencies/repositories.py
  boefjes/boefjes/sql/setting_storage.py
  boefjes/packaging/deb/data/etc/kat/boefjes.conf
  bytes/bytes/config.py
  mula/.env-dist
  mula/packaging/deb/data/etc/kat/mula.conf
  mula/scheduler/config/settings.py
  octopoes/.env-dist
  octopoes/octopoes/config/celery.py
  octopoes/octopoes/config/settings.py
  octopoes/octopoes/core/app.py
  octopoes/octopoes/tasks/tasks.py
  octopoes/packaging/deb/data/etc/kat/octopoes.conf
  octopoes/tests/conftest.py
  octopoes/tests/test_api.py
  rocky/.env-dist
  rocky/packaging/deb/data/etc/kat/rocky.conf
  rocky/rocky/settings.py
Labels: python, tech-debt, chore

#1462 Upgrade certifi
  bytes/poetry.lock
  bytes/pyproject.toml
  bytes/requirements-dev.txt
  bytes/requirements.txt
  cveapi/poetry.lock
  cveapi/pyproject.toml
  keiko/poetry.lock
  keiko/pyproject.toml
  keiko/requirements-dev.txt
  keiko/requirements.txt
  mula/poetry.lock
  mula/pyproject.toml
  mula/requirements-dev.txt
  mula/requirements.txt
  octopoes/poetry.lock
  octopoes/pyproject.toml
  octopoes/requirements-dev.txt
  octopoes/requirements.txt
  rocky/poetry.lock
  rocky/pyproject.toml
  rocky/requirements-dev.txt
  rocky/requirements.txt
Labels: dependencies, python

#1408 Add Question OOI form rendering on the object detail page
  rocky/assets/js/jsonSchemaToForm.js
  rocky/assets/src/bundles/app/css/components/form.scss
  rocky/onboarding/views.py
  rocky/rocky/bytes_client.py
  rocky/rocky/templates/forms/json_schema_form.html
  rocky/rocky/templates/oois/ooi_detail.html
  rocky/rocky/views/ooi_detail.py
  rocky/rocky/views/ooi_view.py
  rocky/tests/conftest.py
  rocky/tests/objects/test_objects_detail.py
  rocky/tests/stubs/question_schema.json
  rocky/tools/forms/ooi_form.py
  rocky/tools/ooi_helpers.py
Labels: rocky, octopoes, UI/UX

#1487 Fix image references from readme's in developer documentation
  boefjes/docs/containerization_design.jpeg
  docs/source/developer_documentation/boefjes.md
  docs/source/developer_documentation/img/boefje_design.png
  docs/source/developer_documentation/img/kat_data_example.png
  docs/source/developer_documentation/img/kat_data_structure.png
  docs/source/developer_documentation/img/kat_query_plan.png
  docs/source/developer_documentation/img/kat_ref_example.png
  docs/source/developer_documentation/octopoes.md
Labels: documentation

#1486 Remove duplicate diagram of KATalogus View structure in the docs
  docs/source/developer_documentation/rocky.md
Labels: documentation

#1489 Add boefje worker diagrams and add missing env vars in documentation
  docs/source/developer_documentation/boefjes.md
Labels: documentation

#1497 Fix CVE findings with cvss V2
  .pre-commit-config.yaml
  boefjes/boefjes/plugins/kat_cve_finding_types/normalize.py
  boefjes/tests/examples/cve-normalizer-cvss2.json
  boefjes/tests/examples/inputs/cve-result-with-cvss2.json
  boefjes/tests/test_cve_finding_types.py
Labels: backport1.10

#1409 Add answer normalizer to create Config OOI
  boefjes/boefjes/plugins/kat_answer_parser/__init__.py
  boefjes/boefjes/plugins/kat_answer_parser/normalize.py
  boefjes/boefjes/plugins/kat_answer_parser/normalizer.json
  boefjes/tests/examples/answer-normalize.json
  boefjes/tests/test_answer_parser.py
  rocky/rocky/views/ooi_detail.py
Labels: boefjes, octopoes

#1496 Fix organization setup
  rocky/onboarding/views.py
Labels: backport1.10
