Repository minvws/nl-kat-coordination, pull requests merged in 2023-02, with the labels that each got.

#178 Bytes: Add better API feedback.
  bytes/bytes/api/v2/router.py
  bytes/bytes/database/sql_meta_repository.py
  bytes/tests/client.py
  bytes/tests/integration/test_bytes_api_client.py
Labels: bytes

#175 Added raw file upload page including tests.
  rocky/rocky/bytes_client.py
  rocky/rocky/templates/partials/ooi_list_toolbar.html
  rocky/rocky/templates/upload_raw.html
  rocky/rocky/urls.py
  rocky/rocky/views/finding_add.py
  rocky/rocky/views/finding_type_add.py
  rocky/rocky/views/ooi_view.py
  rocky/rocky/views/upload_csv.py
  rocky/rocky/views/upload_raw.py
  rocky/tests/objects/test_objects_add.py
  rocky/tests/test_upload_csv.py
  rocky/tests/test_upload_raw.py
  rocky/tools/forms/upload_raw.py
  rocky/tools/ooi_helpers.py
Labels: rocky

#180 [Mula] Feature/mula test coverage
  mula/Makefile
  mula/pyproject.toml
  mula/requirements-dev.txt
  mula/tests/integration/test_api.py
  mula/tests/unit/test_queue.py
Labels: mula

#289 Remove unused `roeltje` folder (contains Cypress)
  rocky/Makefile
  rocky/Readme.md
  rocky/roeltje/.env-dist
  rocky/roeltje/.gitignore
  rocky/roeltje/Makefile
  rocky/roeltje/README.md
  rocky/roeltje/cypress.dist.json
  rocky/roeltje/cypress.json
  rocky/roeltje/cypress/fixtures/findingTypes.json
  rocky/roeltje/cypress/fixtures/findings.json
  rocky/roeltje/cypress/fixtures/objects.json
  rocky/roeltje/cypress/fixtures/urls.json
  rocky/roeltje/cypress/fixtures/users.json
  rocky/roeltje/cypress/helpers/stringHelper.js
  rocky/roeltje/cypress/helpers/userHelper.js
  rocky/roeltje/cypress/integration/1_finding_types.spec.js
  rocky/roeltje/cypress/integration/2_objects.spec.js
  rocky/roeltje/cypress/integration/3_findings.spec.js
  rocky/roeltje/cypress/integration/boefjes.spec.js
  rocky/roeltje/cypress/integration/login.spec.js
  rocky/roeltje/cypress/integration/objects_delete.spec.js
  rocky/roeltje/cypress/integration/onboarding_red_team.spec.js
  rocky/roeltje/cypress/integration/onboarding_setup_admin.spec.js
  rocky/roeltje/cypress/integration/organizations.spec.js
  rocky/roeltje/cypress/integration/register.spec.js
  rocky/roeltje/cypress/plugins/index.js
  rocky/roeltje/cypress/support/commands.js
  rocky/roeltje/cypress/support/index.js
  rocky/roeltje/cypress/support/organizationCommands.js
  rocky/roeltje/package.json
  rocky/roeltje/yarn.lock
Labels: rocky

#287 Remove unused fields
  mula/scheduler/models/boefje.py
  mula/scheduler/schedulers/boefje.py
Labels: mula

#293 Add locking functionality to the priority queue
  mula/scheduler/queues/pq.py
  mula/tests/unit/test_queue.py
Labels: mula

#177 [Mula] Remove tasks status updates in normalizer scheduler
  mula/scheduler/schedulers/normalizer.py
  mula/tests/integration/test_normalizer_scheduler.py
Labels: mula
