Repository minvws/nl-kat-coordination, pull requests merged in 2023-09, with the labels that each got.

#1730 Fix import location of `graph.js` and `graph.css`
  rocky/rocky/templates/graph-d3.html
Labels: bug, frontend, rocky, javascript

#1581 Refactor scheduler
  mula/.ci/.env.test
  mula/Makefile
  mula/poetry.lock
  mula/pyproject.toml
  mula/requirements-dev.txt
  mula/requirements.txt
  mula/scheduler/alembic/env.py
  mula/scheduler/app.py
  mula/scheduler/config/settings.py
  mula/scheduler/connectors/connector.py
  mula/scheduler/connectors/errors.py
  mula/scheduler/connectors/services/bytes.py
  mula/scheduler/connectors/services/katalogus.py
  mula/scheduler/connectors/services/octopoes.py
  mula/scheduler/context/context.py
  mula/scheduler/models/__init__.py
  mula/scheduler/models/base.py
  mula/scheduler/models/events.py
  mula/scheduler/models/health.py
  mula/scheduler/models/normalizer.py
  mula/scheduler/models/plugin.py
  mula/scheduler/models/queue.py
  mula/scheduler/models/scheduler.py
  mula/scheduler/models/tasks.py
  mula/scheduler/queues/boefje.py
  mula/scheduler/queues/normalizer.py
  mula/scheduler/queues/pq.py
  mula/scheduler/rankers/boefje.py
  mula/scheduler/repositories/__init__.py
  mula/scheduler/repositories/sqlalchemy/datastore.py
  mula/scheduler/repositories/sqlalchemy/pq_store.py
  mula/scheduler/repositories/sqlalchemy/task_store.py
  mula/scheduler/repositories/stores.py
  mula/scheduler/schedulers/boefje.py
  mula/scheduler/schedulers/normalizer.py
  mula/scheduler/schedulers/scheduler.py
  mula/scheduler/server/server.py
  mula/scheduler/storage/__init__.py
  mula/scheduler/storage/pq_store.py
  mula/scheduler/storage/storage.py
  mula/scheduler/storage/task_store.py
  mula/tests/factories/__init__.py
  mula/tests/factories/boefje.py
  mula/tests/factories/normalizer.py
  mula/tests/factories/ooi.py
  mula/tests/factories/raw_data.py
  mula/tests/integration/test_api.py
  mula/tests/integration/test_app.py
  mula/tests/integration/test_boefje_scheduler.py
  mula/tests/integration/test_normalizer_scheduler.py
  mula/tests/integration/test_scheduler.py
  mula/tests/unit/test_queue.py
  mula/tests/utils/functions.py
Labels: mula

#1703 Add more descriptive error messages when pushing on scheduler queues
  mula/scheduler/queues/pq.py
  mula/scheduler/server/server.py
  mula/tests/integration/test_api.py
  rocky/rocky/locale/nl/LC_MESSAGES/django.po
  rocky/rocky/locale/pap/LC_MESSAGES/django.po
  rocky/rocky/scheduler.py
  rocky/rocky/views/tasks.py
  rocky/tests/test_boefjes_tasks.py
Labels: mula

#1747 Add descriptions to task status model
  mula/scheduler/models/tasks.py
Labels: mula

#1750 Update documentation scheduler
  mula/docs/architecture.md
Labels: mula

#1746 Add `.env-prod` with `KAT_VERSION` for `docker-compose.release-example.yml`
  .env-dist
  .env-prod
  docker-compose.release-example.yml
  docs/source/technical_design/containers.md
Labels: chore

#1711 Add information about the report filters to the report and add a link to reproduce the report.
  keiko/keiko/keiko.py
  keiko/templates/bevindingenrapport/model.py
  keiko/templates/bevindingenrapport/sample.json
  keiko/templates/bevindingenrapport/template.tex
  keiko/tests/test_report.py
  rocky/rocky/keiko.py
  rocky/rocky/settings.py
  rocky/rocky/views/ooi_report.py
  rocky/tests/objects/test_objects_report.py
  rocky/tools/management/commands/generate_report.py
  rocky/tools/view_helpers.py
Labels: rocky, keiko, report

#1709 Update normalize.py (kat_snyk_finding_types) for correct RiskLevelSeverity
  boefjes/boefjes/plugins/kat_cve_finding_types/normalize.py
  boefjes/boefjes/plugins/kat_snyk_finding_types/normalize.py
  boefjes/tests/test_cve_finding_types.py
Labels: bug

#1791 Exclude muted findings from report by default
  rocky/rocky/views/mixins.py
Labels: backport

#1811 Add container I/O API endpoints to boefjes runner
  .env-defaults
  boefjes/boefjes/__main__.py
  boefjes/boefjes/api.py
  boefjes/boefjes/config.py
  boefjes/docs/boefjes-runner.md
  boefjes/packaging/deb/data/usr/lib/kat/boefjes.defaults
  boefjes/pyproject.toml
  boefjes/tests/conftest.py
  boefjes/tests/examples/scheduler/pop_response_boefje_no_ooi.json
  boefjes/tests/test_api.py
  docker-compose.yml
Labels: boefjes

#1773 Add support to set stalled tasks to failed in scheduler
  mula/scheduler/models/tasks.py
  mula/scheduler/schedulers/boefje.py
  mula/tests/integration/test_boefje_scheduler.py
Labels: mula
