Repository minvws/nl-kat-coordination, pull requests merged in 2023-10, with the labels that each got.

#1865 Upgrade urllib3
  boefjes/poetry.lock
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  bytes/poetry.lock
  bytes/requirements-dev.txt
  bytes/requirements.txt
  cveapi/poetry.lock
  keiko/poetry.lock
  keiko/requirements-dev.txt
  keiko/requirements.txt
  log.txt
  mula/poetry.lock
  mula/requirements-dev.txt
  mula/requirements.txt
  octopoes/poetry.lock
  octopoes/requirements-dev.txt
  octopoes/requirements.txt
  poetry.lock
  requirements-dev.txt
  requirements.txt
  rocky/poetry.lock
  rocky/requirements-dev.txt
  rocky/requirements.txt
Labels: dependencies

#1869 Updated `opentelemetry-instrumentation` packages
  boefjes/poetry.lock
  boefjes/pyproject.toml
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  bytes/poetry.lock
  bytes/pyproject.toml
  bytes/requirements-dev.txt
  bytes/requirements.txt
  keiko/poetry.lock
  keiko/pyproject.toml
  keiko/requirements-dev.txt
  keiko/requirements.txt
  mula/poetry.lock
  mula/pyproject.toml
  mula/requirements-dev.txt
  mula/requirements.txt
  octopoes/poetry.lock
  octopoes/pyproject.toml
  octopoes/requirements-dev.txt
  octopoes/requirements.txt
  rocky/poetry.lock
  rocky/pyproject.toml
  rocky/requirements-dev.txt
  rocky/requirements.txt
Labels: dependencies

#1874 Update commit sign script
  .github/scripts/commit_sign_push.sh
Labels: tech-debt

#1894 Allow items with highest priority to be pushed on queue when full
  mula/scheduler/queues/pq.py
  mula/tests/integration/test_api.py
  mula/tests/integration/test_boefje_scheduler.py
  mula/tests/integration/test_scheduler.py
  mula/tests/unit/test_queue.py
Labels: mula

#1886 Normalize host urls in scheduler v1.12
  mula/scheduler/connectors/connector.py
  mula/scheduler/connectors/services/bytes.py
  mula/scheduler/connectors/services/katalogus.py
  mula/scheduler/connectors/services/octopoes.py
  mula/scheduler/connectors/services/services.py
  mula/scheduler/context/context.py
Labels: bug, mula

#1896 Set correct headers and increase timeout for scheduler
  mula/scheduler/connectors/services/bytes.py
  mula/scheduler/connectors/services/services.py
Labels: mula

#1885 Normalize host urls in scheduler
  mula/scheduler/connectors/connector.py
  mula/scheduler/connectors/services/bytes.py
  mula/scheduler/connectors/services/katalogus.py
  mula/scheduler/connectors/services/octopoes.py
  mula/scheduler/connectors/services/services.py
  mula/scheduler/context/context.py
Labels: bug, mula

#1903 Add more comprehensive documentation about the translation pipeline
  README.rst
  docs/source/guidelines/contributions.rst
Labels: documentation

#1900 Feature: Add bulk unmute button
  rocky/rocky/locale/django.pot
  rocky/rocky/templates/findings/finding_list.html
  rocky/rocky/views/finding_list.py
  rocky/rocky/views/ooi_mute.py
  rocky/tools/ooi_helpers.py
Labels: frontend

#1817 Add normalizer detail page to katalogus
  docs/source/developer_documentation/rocky.md
  rocky/katalogus/templates/boefje_detail.html
  rocky/katalogus/templates/change_clearance_level.html
  rocky/katalogus/templates/katalogus_settings.html
  rocky/katalogus/templates/normalizer_detail.html
  rocky/katalogus/templates/partials/boefje_tile.html
  rocky/katalogus/templates/partials/plugin_tile.html
  rocky/katalogus/templates/partials/plugins.html
  rocky/katalogus/urls.py
  rocky/katalogus/views/change_clearance_level.py
  rocky/katalogus/views/plugin_detail.py
  rocky/katalogus/views/plugin_enable_disable.py
  rocky/katalogus/views/plugin_settings_add.py
  rocky/katalogus/views/plugin_settings_delete.py
  rocky/rocky/locale/django.pot
  rocky/rocky/locale/it/LC_MESSAGES/django.po
  rocky/rocky/locale/nl/LC_MESSAGES/django.po
  rocky/rocky/locale/pap/LC_MESSAGES/django.po
  rocky/rocky/templates/oois/ooi_detail.html
  rocky/rocky/templates/oois/ooi_detail_origins_observations.html
  rocky/rocky/templates/partials/scan_history.html
  rocky/rocky/templates/partials/task_history.html
  rocky/rocky/templates/scan.html
  rocky/rocky/templates/tasks/boefjes.html
  rocky/rocky/templates/tasks/normalizers.html
  rocky/rocky/views/ooi_detail.py
  rocky/tests/katalogus/test_katalogus_plugin_add.py
  rocky/tests/katalogus/test_katalogus_plugin_delete.py
  rocky/tests/katalogus/test_katalogus_plugin_detail.py
  rocky/tests/objects/test_objects_detail.py
  rocky/tests/robot/complete_onboarding/01_onboard_with_all_users.robot
  rocky/tests/test_groups_and_permissions.py
Labels: rocky

#1891 Add more tests for scheduler: external services
  mula/.ci/.env.test
  mula/.ci/docker-compose.yml
  mula/scheduler/connectors/services/bytes.py
  mula/scheduler/connectors/services/octopoes.py
  mula/scheduler/context/context.py
  mula/scheduler/utils/__init__.py
  mula/scheduler/utils/functions.py
  mula/tests/integration/test_services.py
Labels: mula, chore
