Repository minvws/nl-kat-coordination, pull requests merged in 2023-11, with the labels that each got.

#1965 QA and documentation updates
  .github/ISSUE_TEMPLATE/user_story.md
  .github/pull_request_template.md
  README.rst
  docs/source/guidelines/contributions.rst
  docs/source/guidelines/feature_flow.md
Labels: documentation, chore

#1991 Clean up and fix filter logic in bytes
  bytes/bytes/database/sql_meta_repository.py
  bytes/bytes/repositories/meta_repository.py
  bytes/tests/conftest.py
  bytes/tests/integration/test_meta_repository.py
  bytes/tests/unit/test_raw_repository.py
  octopoes/octopoes/repositories/origin_repository.py
Labels: bytes

#1749 Add additional filtering capabilities to the scheduler api for queues and tasks endpoints
  mula/scheduler/models/__init__.py
  mula/scheduler/models/filter.py
  mula/scheduler/queues/pq.py
  mula/scheduler/schedulers/boefje.py
  mula/scheduler/schedulers/scheduler.py
  mula/scheduler/server/server.py
  mula/scheduler/storage/__init__.py
  mula/scheduler/storage/filters/__init__.py
  mula/scheduler/storage/filters/casting.py
  mula/scheduler/storage/filters/comparison.py
  mula/scheduler/storage/filters/errors.py
  mula/scheduler/storage/filters/filters.py
  mula/scheduler/storage/filters/functions.py
  mula/scheduler/storage/filters/operators.py
  mula/scheduler/storage/pq_store.py
  mula/scheduler/storage/task_store.py
  mula/tests/integration/test_api.py
  mula/tests/integration/test_task_store.py
  mula/tests/unit/test_filter.py
  mula/tests/utils/functions.py
Labels: mula

#2015 Backport: Update filtering logic and improve access tests for Bytes
  bytes/bytes/database/sql_meta_repository.py
  bytes/bytes/repositories/meta_repository.py
  bytes/tests/conftest.py
  bytes/tests/integration/test_meta_repository.py
  bytes/tests/unit/test_raw_repository.py
Labels: bytes, backport

#1999 Scheduler optimizations implementation
  mula/scheduler/app.py
  mula/scheduler/config/settings.py
  mula/scheduler/connectors/services/bytes.py
  mula/scheduler/connectors/services/katalogus.py
  mula/scheduler/connectors/services/octopoes.py
  mula/scheduler/connectors/services/services.py
  mula/scheduler/context/context.py
  mula/tests/integration/test_services.py
  mula/tests/scripts/__init__.py
  mula/tests/scripts/load.py
Labels: mula

#2019 Resolving potential redundant bytes login calls
  boefjes/boefjes/job_handler.py
Labels: bytes, boefjes

#1945 Feature/mime types from bytes
  boefjes/boefjes/api.py
  boefjes/boefjes/docker_boefjes_runner.py
  boefjes/boefjes/job_handler.py
  boefjes/boefjes/job_models.py
  boefjes/boefjes/katalogus/tests/test_plugins.py
  boefjes/boefjes/plugins/kat_adr_finding_types/normalizer.json
  boefjes/boefjes/plugins/kat_adr_validator/normalizer.json
  boefjes/boefjes/plugins/kat_calvin/normalizer.json
  boefjes/boefjes/plugins/kat_censys/normalizer.json
  boefjes/boefjes/plugins/kat_crt_sh/normalizer.json
  boefjes/boefjes/plugins/kat_cve_2023_34039/normalizer.json
  boefjes/boefjes/plugins/kat_cve_2023_35078/normalizer.json
  boefjes/boefjes/plugins/kat_cve_finding_types/normalizer.json
  boefjes/boefjes/plugins/kat_cwe_finding_types/normalizer.json
  boefjes/boefjes/plugins/kat_dicom/normalizer.json
  boefjes/boefjes/plugins/kat_dns/normalizer.json
  boefjes/boefjes/plugins/kat_dns_zone/normalizer.json
  boefjes/boefjes/plugins/kat_dnssec/normalizer.json
  boefjes/boefjes/plugins/kat_external_db/normalizer.json
  boefjes/boefjes/plugins/kat_fierce/normalizer.json
  boefjes/boefjes/plugins/kat_green_hosting/normalizer.json
  boefjes/boefjes/plugins/kat_kat_finding_types/normalizer.json
  boefjes/boefjes/plugins/kat_leakix/normalizer.json
  boefjes/boefjes/plugins/kat_manyportsopen/normalizer.json
  boefjes/boefjes/plugins/kat_masscan/normalizer.json
  boefjes/boefjes/plugins/kat_nmap/normalizer.json
  boefjes/boefjes/plugins/kat_nuclei_cve/normalizer.json
  boefjes/boefjes/plugins/kat_nuclei_exposed_panels/normalizer.json
  boefjes/boefjes/plugins/kat_nuclei_take_over/normalizer.json
  boefjes/boefjes/plugins/models.py
  boefjes/tests/test_tasks.py
  bytes/Makefile
  bytes/bytes/api/metrics.py
  bytes/bytes/api/router.py
  bytes/bytes/config.py
  bytes/bytes/database/db_models.py
  bytes/bytes/database/migrations/versions/1dde0213e9fe_remove_all_hash_mime_types.py
  bytes/bytes/database/sql_meta_repository.py
  bytes/bytes/repositories/meta_repository.py
  bytes/sql_migrations/0019_1dde0213e9fe_remove_all_hash_mime_types.sql
  bytes/tests/client.py
  bytes/tests/integration/test_bytes_api.py
  bytes/tests/integration/test_migrations.py
  rocky/rocky/bytes_client.py
Labels: bytes

#2017 Add api filtering documentation for scheduler
  mula/docs/api.md
  mula/docs/openapi.json
Labels: documentation, mula

#2028 Add research paper about semantic web technologies to Octopoes research doc
  docs/source/developer_documentation/octopoes_research.rst
  docs/source/developer_documentation/pdf/Investigating the use of Semantic Web Technologies in OpenKAT paper.pdf
  docs/source/developer_documentation/pdf/Investigating the use of Semantic Web Technologies in OpenKAT slides.pdf
Labels: documentation

#2026 Fix external links to not include opener rights.
  rocky/katalogus/templates/partials/plugin_tile.html
  rocky/rocky/templates/partials/ooi_report_findings_block_table_expanded_row.html
  rocky/rocky/templates/partials/ooi_summary_block.html
Labels: rocky

#2027 Sigrid-CI integration
  .github/workflows/sigrid-publish.yml
  .github/workflows/sigrid-pullrequest.yml
Labels: github_actions

#2033 Clean up "produces" field in the katalogus api: now show a list of mime-types in Rocky for boefjes
  boefjes/boefjes/katalogus/models.py
  boefjes/boefjes/katalogus/tests/boefjes_test_dir/kat_test/boefje.json
  boefjes/boefjes/katalogus/tests/boefjes_test_dir/kat_test/kat_test_2/boefje.json
  boefjes/boefjes/katalogus/tests/test_plugin_service.py
  boefjes/boefjes/katalogus/tests/test_plugins.py
  boefjes/boefjes/plugins/kat_adr_finding_types/boefje.json
  boefjes/boefjes/plugins/kat_adr_validator/boefje.json
  boefjes/boefjes/plugins/kat_binaryedge/boefje.json
  boefjes/boefjes/plugins/kat_censys/boefje.json
  boefjes/boefjes/plugins/kat_crt_sh/boefje.json
  boefjes/boefjes/plugins/kat_cve_2023_34039/boefje.json
  boefjes/boefjes/plugins/kat_cve_2023_35078/boefje.json
  boefjes/boefjes/plugins/kat_cve_finding_types/boefje.json
  boefjes/boefjes/plugins/kat_cwe_finding_types/boefje.json
  boefjes/boefjes/plugins/kat_dicom/boefje.json
  boefjes/boefjes/plugins/kat_dns/boefje.json
  boefjes/boefjes/plugins/kat_dns_zone/boefje.json
  boefjes/boefjes/plugins/kat_dnssec/boefje.json
  boefjes/boefjes/plugins/kat_external_db/boefje.json
  boefjes/boefjes/plugins/kat_fierce/boefje.json
  boefjes/boefjes/plugins/kat_green_hosting/boefje.json
  boefjes/boefjes/plugins/kat_kat_finding_types/boefje.json
  boefjes/boefjes/plugins/kat_leakix/boefje.json
  boefjes/boefjes/plugins/kat_log4shell/boefje.json
  boefjes/boefjes/plugins/kat_manyportsopen/boefje.json
  boefjes/boefjes/plugins/kat_masscan/boefje.json
  boefjes/boefjes/plugins/kat_nmap/boefje.json
  boefjes/boefjes/plugins/kat_nmap_ip_range/boefje.json
  boefjes/boefjes/plugins/kat_nmap_ports/boefje.json
  boefjes/boefjes/plugins/kat_nuclei_cve/boefje.json
  boefjes/boefjes/plugins/kat_nuclei_exposed_panels/boefje.json
  boefjes/boefjes/plugins/kat_nuclei_take_over/boefje.json
  boefjes/boefjes/plugins/kat_rdns/boefje.json
  boefjes/boefjes/plugins/kat_retirejs_finding_types/boefje.json
  boefjes/boefjes/plugins/kat_security_txt_downloader/boefje.json
  boefjes/boefjes/plugins/kat_shodan/boefje.json
  boefjes/boefjes/plugins/kat_snyk/boefje.json
  boefjes/boefjes/plugins/kat_snyk_finding_types/boefje.json
  boefjes/boefjes/plugins/kat_ssl_certificates/boefje.json
  boefjes/boefjes/plugins/kat_ssl_scan/boefje.json
  boefjes/boefjes/plugins/kat_testssl_sh_ciphers/boefje.json
  boefjes/boefjes/plugins/kat_webpage_analysis/boefje.json
  boefjes/boefjes/plugins/kat_webpage_capture/boefje.json
  boefjes/boefjes/plugins/kat_website_software/boefje.json
  boefjes/boefjes/plugins/kat_wpscan/boefje.json
  boefjes/boefjes/plugins/models.py
  boefjes/boefjes/plugins/pdio_subfinder/boefje.json
  rocky/katalogus/client.py
  rocky/katalogus/templates/boefje_detail.html
Labels: frontend, rocky, katalogus

#1976 Rabbitmq fixes/enhancements for scheduler
  .pre-commit-config.yaml
  mula/Dockerfile
  mula/poetry.lock
  mula/pyproject.toml
  mula/requirements-dev.txt
  mula/requirements.txt
  mula/scheduler/connectors/listeners/listeners.py
  mula/scheduler/connectors/listeners/raw_data.py
  mula/scheduler/connectors/listeners/scan_profile.py
  mula/scheduler/schedulers/boefje.py
  mula/scheduler/schedulers/normalizer.py
  mula/tests/integration/test_boefje_scheduler.py
  mula/tests/integration/test_normalizer_scheduler.py
  poetry.lock
  requirements-dev.txt
  requirements.txt
Labels: mula

#1994 Miscellaneous language updates
  rocky/rocky/settings.py
Labels: enhancement, frontend, rocky, UI/UX, misconfiguration

#2038 Fix/2037 kat nmap normalizer
  boefjes/boefjes/plugins/kat_nmap/normalize.py
  boefjes/tests/examples/raw/nmap_mispoes.xml
  boefjes/tests/test_nmap.py
Labels: bug, boefjes

#1982 Filter tree objects with depth=1 for Findings
  rocky/rocky/locale/django.pot
  rocky/rocky/templates/findings/findings_filter.html
  rocky/rocky/templates/partials/elements/ooi_list_settings_form.html
  rocky/rocky/templates/partials/form/field_input_multiselect.html
  rocky/rocky/templates/tasks/partials/task_filter.html
  rocky/rocky/views/mixins.py
  rocky/rocky/views/ooi_report.py
  rocky/rocky/views/ooi_tree.py
  rocky/rocky/views/ooi_view.py
  rocky/tools/forms/base.py
  rocky/tools/forms/ooi.py
Labels: rocky

#2062 Update scheduler python packages
  mula/poetry.lock
  mula/pyproject.toml
  mula/requirements-dev.txt
  mula/requirements.txt
Labels: mula
