Repository minvws/nl-kat-coordination, pull requests merged in 2024-04, with the labels that each got.

#2757 Updated `phonenumbers` and `django-phonenumber-field`
  rocky/poetry.lock
  rocky/pyproject.toml
  rocky/requirements-dev.txt
  rocky/requirements.txt
Labels: dependencies

#2783 Upgrade `pillow`
  boefjes/poetry.lock
  boefjes/pyproject.toml
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  rocky/poetry.lock
  rocky/requirements-dev.txt
  rocky/requirements.txt
Labels: dependencies, python

#2727 Replace Wappalyzer
  .github/workflows/boefjes_tests.yml
  .github/workflows/build-rdo-package.yml
  boefjes/Dockerfile
  boefjes/boefjes/plugins/kat_wappalyzer/__init__.py
  boefjes/boefjes/plugins/kat_wappalyzer/normalize.py
  boefjes/boefjes/plugins/kat_wappalyzer/normalizer.json
  boefjes/boefjes/plugins/kat_webpage_analysis/boefje.json
  boefjes/boefjes/plugins/kat_webpage_analysis/main.py
  boefjes/boefjes/plugins/kat_website_software/boefje.json
  boefjes/boefjes/plugins/kat_website_software/cover.jpg
  boefjes/boefjes/plugins/kat_website_software/description.md
  boefjes/boefjes/plugins/kat_website_software/main.py
  boefjes/boefjes/plugins/kat_website_software/normalize.py
  boefjes/debian/rules
  boefjes/poetry.lock
  boefjes/pyproject.toml
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  boefjes/tests/examples/body-page-analysis-normalize.json
  boefjes/tests/examples/download_page_analysis.raw
  boefjes/tests/loading.py
  boefjes/tests/test_bodyimage.py
  boefjes/tests/test_wappalizer.py
  boefjes/tests/test_wappalyzer_normalizer.py
Labels: boefjes, python

#2673 Add why container stdout/stderr can't be used for boefjes output
  boefjes/docs/boefjes-runner.md
Labels: kubernetes

#2819 Fix wrong type in save_raw and list_origin_parameters httpx params
  boefjes/boefjes/clients/bytes_client.py
  mula/scheduler/connectors/services/services.py
  octopoes/octopoes/connector/octopoes.py
  pyproject.toml
  rocky/rocky/bytes_client.py
Labels: bug, regression

#2861 Update `dnspython`
  boefjes/boefjes/plugins/kat_dns/main.py
  boefjes/boefjes/plugins/kat_dns/requirements.txt
  boefjes/boefjes/plugins/kat_rdns/requirements.txt
  boefjes/poetry.lock
  boefjes/pyproject.toml
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  octopoes/poetry.lock
  octopoes/pyproject.toml
  octopoes/requirements-dev.txt
  octopoes/requirements.txt
Labels: plugins, dependencies, tech-debt

#2814 Add some additional exception handling to the scheduler
  mula/scheduler/app.py
  mula/scheduler/connectors/errors.py
  mula/scheduler/connectors/services/octopoes.py
  mula/scheduler/schedulers/boefje.py
  mula/scheduler/schedulers/normalizer.py
  mula/tests/integration/test_boefje_scheduler.py
  mula/tests/integration/test_normalizer_scheduler.py
Labels: mula

#2855 Introduce importing/exporting capabilities in Octopoes/xtdb-multinode-tool (addressing #2761)
  octopoes/octopoes/api/router.py
  octopoes/octopoes/connector/octopoes.py
  octopoes/octopoes/xtdb/client.py
  octopoes/tests/integration/test_io.py
  octopoes/tools/xtdb-cli.py
Labels: octopoes, tech-debt, xtdb, backend

#2878 Add some additional exception handling to the scheduler
  mula/logging.json
  mula/scheduler/connectors/errors.py
  mula/scheduler/connectors/services/bytes.py
Labels: mula

#2860 Fixed image reference in `pdio_subfinder` plugin
  boefjes/boefjes/plugins/pdio_subfinder/main.py
  boefjes/boefjes/plugins/pdio_subfinder/normalize.py
Labels: bug, boefjes, tech-debt

#2858 Implement Octopoes Models documentation
  .pre-commit-config.yaml
  Makefile
  docs/source/conf.py
  docs/source/developer_documentation/index.rst
  docs/source/developer_documentation/octopoes_models.rst
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: documentation

#2891 Updated some packages
  boefjes/poetry.lock
  boefjes/pyproject.toml
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  bytes/poetry.lock
  bytes/pyproject.toml
  bytes/requirements-dev.txt
  bytes/requirements.txt
  keiko/poetry.lock
  keiko/requirements-dev.txt
  keiko/requirements.txt
  mula/poetry.lock
  mula/pyproject.toml
  mula/requirements-dev.txt
  mula/requirements.txt
  octopoes/poetry.lock
  octopoes/pyproject.toml
  octopoes/requirements-dev.txt
  octopoes/requirements.txt
  poetry.lock
  pyproject.toml
  requirements.txt
  rocky/poetry.lock
  rocky/pyproject.toml
  rocky/requirements-dev.txt
  rocky/requirements.txt
Labels: dependencies, python
