Repository minvws/nl-kat-coordination, pull requests merged in 2024-07, with the labels that each got.

#3209 Updated `certifi`
  boefjes/poetry.lock
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  bytes/poetry.lock
  bytes/requirements-dev.txt
  bytes/requirements.txt
  cveapi/poetry.lock
  cveapi/requirements.txt
  keiko/poetry.lock
  keiko/requirements-dev.txt
  mula/poetry.lock
  mula/requirements-dev.txt
  mula/requirements.txt
  octopoes/poetry.lock
  octopoes/requirements-dev.txt
  octopoes/requirements.txt
  poetry.lock
  requirements.txt
  rocky/poetry.lock
  rocky/requirements-dev.txt
  rocky/requirements.txt
Labels: dependencies

#3215 Updated `zipp`
  boefjes/poetry.lock
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  bytes/poetry.lock
  bytes/requirements-dev.txt
  bytes/requirements.txt
  keiko/poetry.lock
  keiko/requirements-dev.txt
  keiko/requirements.txt
  octopoes/poetry.lock
  octopoes/requirements-dev.txt
  octopoes/requirements.txt
  rocky/poetry.lock
  rocky/requirements-dev.txt
  rocky/requirements.txt
Labels: dependencies

#3206 Recalculate bit when a config object changes
  octopoes/octopoes/core/service.py
  octopoes/octopoes/repositories/origin_repository.py
Labels: bug, octopoes, backend, bits

#3194 cve-2024-6387 from RickGeex
  boefjes/boefjes/plugins/kat_cve_2024_6387/__init__.py
  boefjes/boefjes/plugins/kat_cve_2024_6387/normalize.py
  boefjes/boefjes/plugins/kat_cve_2024_6387/normalizer.json
  boefjes/boefjes/plugins/kat_service_banner/__init__.py
  boefjes/boefjes/plugins/kat_service_banner/boefje.json
  boefjes/boefjes/plugins/kat_service_banner/cover.jpg
  boefjes/boefjes/plugins/kat_service_banner/main.py
  boefjes/tests/integration/test_api.py
  boefjes/tests/test_cve-2024-6387.py
Labels: 😸 Review/QA feedback

#3122 Gather BIT metrics [implementation]
  octopoes/octopoes/config/settings.py
  octopoes/octopoes/core/app.py
  octopoes/octopoes/core/service.py
  octopoes/tools/analyze-bit-metric.py
Labels: octopoes, backend, bits, performance

#3226 Fix filtering on plugin_id for normalizers
  mula/scheduler/server/server.py
Labels: bug, mula

#3259 Upgrade packages
  boefjes/poetry.lock
  boefjes/pyproject.toml
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  bytes/poetry.lock
  bytes/pyproject.toml
  bytes/requirements-dev.txt
  bytes/requirements.txt
  keiko/poetry.lock
  keiko/pyproject.toml
  keiko/requirements-dev.txt
  keiko/requirements.txt
  mula/poetry.lock
  mula/requirements-dev.txt
  mula/requirements.txt
  octopoes/poetry.lock
  octopoes/pyproject.toml
  octopoes/requirements-dev.txt
  octopoes/requirements.txt
  poetry.lock
  requirements.txt
  rocky/poetry.lock
  rocky/pyproject.toml
  rocky/requirements-dev.txt
  rocky/requirements.txt
Labels: dependencies, python

#3281 RFC3161HashRepository accepts rfc3161_provider only as a string and Pydantic URLs are not strings anymore
  bytes/bytes/timestamping/provider.py
  bytes/tests/conftest.py
Labels: backport

#3234 Add XTDB list and rename method in origin tool
  octopoes/tools/rename-origin-method.py
  octopoes/tools/xtdb-cli.py
  octopoes/tools/xtdb_client.py
Labels: xtdb, backend

#3296 Record the user who last changed the Scan Profile
  octopoes/octopoes/models/__init__.py
  octopoes/tests/test_api.py
  octopoes/tests/test_event_manager.py
  rocky/account/mixins.py
  rocky/rocky/locale/django.pot
  rocky/rocky/templates/scan_profiles/scan_profile_detail.html
  rocky/rocky/views/scan_profile.py
Labels: enhancement, rocky, octopoes, backend
