Repository minvws/nl-kat-coordination, pull requests merged in 2024-06, with the labels that each got.

#3017 Fix empty consumes of boefjes will trigger tasks in scheduler
  mula/scheduler/connectors/services/katalogus.py
  mula/scheduler/schedulers/boefje.py
  mula/tests/integration/test_boefje_scheduler.py
Labels: mula

#3023 Documentation - developer and helper functionality documentation for xtdb-cli tool
  docs/source/developer_documentation/octopoes.md
  octopoes/tools/xtdb-cli.py
Labels: documentation

#3098 Updated `urllib3`
  boefjes/poetry.lock
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  bytes/poetry.lock
  bytes/requirements-dev.txt
  bytes/requirements.txt
  keiko/poetry.lock
  keiko/requirements-dev.txt
  octopoes/poetry.lock
  octopoes/requirements-dev.txt
  octopoes/requirements.txt
  poetry.lock
  requirements.txt
Labels: dependencies, python

#2952 feat: :memo: add human readable hostnames to vulnerability report
  rocky/reports/report_types/definitions.py
  rocky/reports/report_types/vulnerability_report/report.html
  rocky/reports/report_types/vulnerability_report/report.py
  rocky/tests/reports/test_vulnerability_report.py
Labels: 😸 QA feedback

#3132 Match frontend with design - part 2
  rocky/katalogus/templates/change_clearance_level.html
  rocky/katalogus/templates/katalogus_settings.html
  rocky/katalogus/templates/plugin_settings_list.html
  rocky/onboarding/templates/account/step_2a_organization_setup.html
  rocky/onboarding/templates/account/step_2a_organization_update.html
  rocky/onboarding/templates/step_2b_choose_report_type.html
  rocky/onboarding/templates/step_3d_clearance_level_introduction.html
  rocky/onboarding/views.py
  rocky/reports/report_types/aggregate_organisation_report/appendix.html
  rocky/reports/templates/partials/report_setup_scan.html
  rocky/reports/templates/summary/selected_plugins.html
  rocky/rocky/locale/django.pot
  rocky/rocky/templates/crisis_room/crisis_room_findings_block.html
  rocky/rocky/templates/dashboard_client.html
  rocky/rocky/templates/dashboard_redteam.html
  rocky/rocky/templates/forms/widgets/checkbox_group_table.html
  rocky/rocky/templates/health.html
  rocky/rocky/templates/oois/ooi_delete.html
  rocky/rocky/templates/oois/ooi_detail.html
  rocky/rocky/templates/oois/ooi_detail_findings_overview.html
  rocky/rocky/templates/oois/ooi_detail_origins_declarations.html
  rocky/rocky/templates/oois/ooi_detail_origins_inference.html
  rocky/rocky/templates/oois/ooi_detail_origins_observations.html
  rocky/rocky/templates/organizations/organization_settings.html
  rocky/rocky/templates/partials/ooi_detail_related_object.html
  rocky/rocky/templates/partials/ooi_report_findings_block_table.html
  rocky/rocky/templates/partials/organization_properties_table.html
  rocky/rocky/templates/scan.html
  rocky/tests/onboarding/test_onboarding_organization_steps.py
  rocky/tests/test_groups_and_permissions.py
Labels: frontend, tech-debt

#3097 Update helper text for nmap-ports boefje
  boefjes/boefjes/plugins/kat_nmap_ports/schema.json
Labels: boefjes

#3002 RFD 0001: Add RFD for Requests for Discussion
  rfd/0001-rfd.md
  rfd/README.md
  rfd/assets/.gitkeep
  rfd/prototypes/prototype.md
Labels: rfd

#2944 Fix pydantic serialization of enum on PATCH of tasks
  mula/poetry.lock
  mula/pyproject.toml
  mula/requirements-dev.txt
  mula/requirements.txt
  mula/scheduler/models/tasks.py
  mula/scheduler/schedulers/scheduler.py
  mula/scheduler/server/serializers/__init__.py
  mula/scheduler/server/serializers/p_item.py
  mula/scheduler/server/serializers/task.py
  mula/scheduler/server/server.py
  mula/scheduler/storage/task_store.py
  mula/tests/integration/test_api.py
  mula/tests/integration/test_task_store.py
Labels: mula

#3092 Fix rabbtimq exception handling in scheduler
  mula/scheduler/connectors/listeners/listeners.py
  mula/tests/integration/test_listeners.py
  mula/tests/mocks/listener.py
Labels: mula

#3024 Optimize queries executed when running bits
  octopoes/octopoes/core/service.py
  octopoes/octopoes/repositories/ooi_repository.py
  octopoes/octopoes/xtdb/client.py
Labels: enhancement, octopoes, bits
