Repository minvws/nl-kat-coordination, pull requests merged in 2024-11, with the labels that each got.

#3768 Exclude Report from ooi list
  rocky/rocky/views/ooi_view.py
  rocky/tools/forms/ooi_form.py
Labels: rocky

#3717 Refactor KATalogus client in Rocky
  octopoes/octopoes/connector/katalogus.py
  octopoes/octopoes/tasks/tasks.py
  rocky/account/mixins.py
  rocky/katalogus/client.py
  rocky/katalogus/health.py
  rocky/katalogus/utils.py
  rocky/katalogus/views/boefje_setup.py
  rocky/katalogus/views/katalogus.py
  rocky/katalogus/views/katalogus_settings.py
  rocky/katalogus/views/mixins.py
  rocky/katalogus/views/plugin_detail.py
  rocky/onboarding/views.py
  rocky/reports/views/base.py
  rocky/rocky/locale/django.pot
  rocky/rocky/signals.py
  rocky/rocky/views/mixins.py
  rocky/rocky/views/ooi_detail.py
  rocky/rocky/views/scans.py
  rocky/rocky/views/tasks.py
  rocky/tests/conftest.py
  rocky/tests/integration/conftest.py
  rocky/tests/katalogus/test_katalogus.py
  rocky/tests/katalogus/test_katalogus_boefje_setup.py
  rocky/tests/katalogus/test_katalogus_plugin_add.py
  rocky/tests/katalogus/test_katalogus_plugin_detail.py
  rocky/tests/objects/test_objects_detail.py
  rocky/tests/objects/test_objects_findings.py
  rocky/tests/objects/test_objects_scan_profile.py
  rocky/tests/onboarding/test_onboarding_create_organization.py
  rocky/tests/onboarding/test_onboarding_organization_steps.py
  rocky/tests/reports/test_aggregate_report_flow.py
  rocky/tests/reports/test_base_report.py
  rocky/tests/reports/test_generate_report_flow.py
  rocky/tests/reports/test_history_report.py
  rocky/tests/reports/test_multi_report_flow.py
  rocky/tests/reports/test_plugins.py
  rocky/tests/stubs/katalogus_boefjes.json
  rocky/tests/stubs/katalogus_normalizers.json
  rocky/tests/test_admin.py
  rocky/tests/test_api_organization.py
  rocky/tests/test_groups_and_permissions.py
  rocky/tests/test_organization.py
  rocky/tests/test_scans.py
  rocky/tools/models.py
  rocky/tools/viewsets.py
Labels: 😸 Review/QA feedback

#3829 Check queue size before polling
  boefjes/boefjes/app.py
Labels: mula, boefjes, performance

#3692 Update scheduler documentation
  mula/docs/architecture.md
  mula/docs/img/boefje_scheduler.svg
  mula/docs/img/diagram001.svg
  mula/docs/img/diagram002.svg
  mula/docs/img/diagram003.svg
  mula/docs/img/diagram004.svg
  mula/docs/img/diagram005.svg
  mula/docs/img/diagram006.svg
  mula/docs/img/diagram007.svg
  mula/docs/img/diagram008.svg
  mula/docs/img/diagram009.svg
  mula/docs/img/diagram010.svg
  mula/docs/img/normalizer_scheduler.svg
  mula/docs/img/queue.svg
  mula/docs/img/report_scheduler.svg
  mula/docs/img/scheduler.svg
  mula/docs/img/scheduler_system.svg
  mula/docs/img/schedulers.svg
  mula/docs/img/schedules.svg
  mula/docs/img/schematic-drawing.svg
  mula/docs/img/tasks.svg
Labels: mula, chore

#3834 Support a Schedule without a schedule in scheduler
  mula/scheduler/server/handlers/schedules.py
  mula/scheduler/server/serializers/schedule.py
  mula/tests/integration/test_api.py
  mula/tests/integration/test_schedule_store.py
Labels: mula

#3836 Limit requesting prior tasks for ranking in scheduler
  mula/scheduler/rankers/boefje.py
  mula/scheduler/schedulers/boefje.py
  mula/tests/integration/test_boefje_scheduler.py
Labels: mula

#3747 Change plugins enabling in report flow to checkboxes
  rocky/reports/templates/forms/report_form_fields.html
  rocky/reports/templates/partials/report_setup_scan.html
  rocky/reports/views/aggregate_report.py
  rocky/reports/views/generate_report.py
  rocky/rocky/locale/django.pot
Labels: 😸 Review/QA feedback

#3900 Add additional check if task already run for report scheduler
  mula/scheduler/schedulers/schedulers/report.py
Labels: mula
