Repository minvws/nl-kat-coordination, pull requests merged in 2024-10, with the labels that each got.

#3522 Fixes notification alignment
  rocky/assets/css/components/messages.scss
  rocky/assets/css/components/notifications.scss
  rocky/assets/css/themes/soft/manon/button-ghost.scss
  rocky/assets/css/themes/soft/manon/notification-paragraph.scss
  rocky/assets/css/themes/soft/soft.scss
  rocky/assets/css/vendor_overrides/manon/notification.scss
  rocky/rocky/locale/django.pot
  rocky/rocky/templates/indemnification_present.html
  rocky/rocky/templates/partials/form/field_input_help_text.html
  rocky/rocky/templates/partials/notifications_block.html
Labels: frontend

#3572 REST API to recalculate bits and clone katalogus settings
  rocky/katalogus/views/katalogus_settings.py
  rocky/rocky/views/organization_list.py
  rocky/rocky/views/organization_settings.py
  rocky/tests/test_api_organization.py
  rocky/tools/permissions.py
  rocky/tools/serializers.py
  rocky/tools/viewsets.py
Labels: 😸 Review/QA feedback

#3605 Remove an erroneously generated request body from an object history GET call in Octopoes' router
  octopoes/octopoes/api/router.py
  octopoes/tests/integration/test_api_connector.py
Labels: bug, octopoes

#3602 Fix grace period is being used instead of interval for boefjes that have interval specified in scheduler
  mula/scheduler/schedulers/boefje.py
  mula/tests/integration/test_boefje_scheduler.py
Labels: mula

#3607 Feature/report runner integration
  boefjes/boefjes/app.py
  boefjes/boefjes/clients/scheduler_client.py
  boefjes/tests/conftest.py
  boefjes/tests/test_app.py
  docker-compose.yml
  mula/scheduler/schedulers/report.py
  rocky/reports/management/__init__.py
  rocky/reports/management/commands/__init__.py
  rocky/reports/management/commands/worker.py
  rocky/reports/runner/local.py
  rocky/reports/runner/models.py
  rocky/reports/runner/worker.py
  rocky/rocky/scheduler.py
  rocky/rocky/views/scheduler.py
Labels: rocky, report

#3505 Add s3 functionality in Bytes
  bytes/bytes/config.py
  bytes/bytes/raw/file_raw_repository.py
  bytes/poetry.lock
  bytes/pyproject.toml
  bytes/requirements-dev.txt
  bytes/requirements.txt
Labels: bytes, performance

#3595 Update filter unit and integration tests
  mula/tests/integration/test_api.py
  mula/tests/unit/test_filter.py
Labels: mula, chore

#3624 Fixes for xtdb-cli
  octopoes/tools/xtdb-cli.py
Labels: bug, octopoes

#3647 Revert 1b4aed64845b5cab61e5410648abbe74700f44f9
  boefjes/tests/examples/raw/leakix-example.com-output.txt
  octopoes/bits/default_findingtype_risk/__init__.py
  octopoes/bits/default_findingtype_risk/bit.py
  octopoes/bits/default_findingtype_risk/default_findingtype_risk.py
  octopoes/octopoes/models/ooi/findings.py
  octopoes/tests/test_bit_default_findingtype_risk.py
  rocky/tests/integration/test_reports.py
  rocky/tests/reports/test_vulnerability_report.py
Labels: bug, octopoes

#3631 Create 1.17.rst
  docs/source/release_notes/1.17.rst
Labels: documentation

#3651 Fix nmap-ports regex pattern not allowing 80
  boefjes/boefjes/plugins/kat_nmap_ports/schema.json
  boefjes/tests/integration/test_api.py
  boefjes/tests/plugins/test_nmap.py
Labels: bug

#3622 Fix boefje container image url
  rocky/katalogus/templates/plugin_container_image.html
Labels: bug

#3669 Fix/yielded objects
  rocky/rocky/views/task_detail.py
Labels: bug

#3643 Fix jsonb 'contained by' query
  mula/scheduler/storage/filters/casting.py
  mula/tests/integration/test_api.py
  mula/tests/unit/test_filter.py
Labels: mula

#3686 Silence KATFindingType not found error in JobHandler
  boefjes/boefjes/job_handler.py
Labels: bug, boefjes

#3682 Fix first order dangling affirmation delete
  octopoes/octopoes/core/service.py
  octopoes/octopoes/repositories/origin_repository.py
  octopoes/tests/integration/test_ooi_deletion.py
Labels: bug, octopoes

#3678 Add delete schedule functionality for schedules in the scheduler
  mula/scheduler/server/handlers/schedules.py
  mula/tests/integration/test_api.py
Labels: mula

#3695 Add search endpoint for schedules for scheduler
  mula/scheduler/server/handlers/schedules.py
  mula/tests/integration/test_api.py
Labels: mula, 😸 Review/QA feedback

#2615 feat: :sparkles: add Shodan InternetDB boefje
  boefjes/boefjes/plugins/helpers.py
  boefjes/boefjes/plugins/kat_binaryedge/http_web/normalize.py
  boefjes/boefjes/plugins/kat_binaryedge/service_identification/normalize.py
  boefjes/boefjes/plugins/kat_binaryedge/services/normalize.py
  boefjes/boefjes/plugins/kat_shodan_internetdb/__init__.py
  boefjes/boefjes/plugins/kat_shodan_internetdb/boefje.json
  boefjes/boefjes/plugins/kat_shodan_internetdb/cover.jpg
  boefjes/boefjes/plugins/kat_shodan_internetdb/description.md
  boefjes/boefjes/plugins/kat_shodan_internetdb/main.py
  boefjes/boefjes/plugins/kat_shodan_internetdb/normalize.py
  boefjes/boefjes/plugins/kat_shodan_internetdb/normalizer.json
  boefjes/tests/integration/test_api.py
Labels: boefjes

#3721 Rework workflow for variable python version, add python 3.11
  .github/workflows/build-rdo-package.yml
Labels: github_actions

#3707 Fixes in Report Overview
  rocky/reports/templates/report_overview/report_history.html
  rocky/reports/templates/report_overview/report_history_table.html
  rocky/reports/templates/report_overview/scheduled_reports.html
  rocky/reports/templates/report_overview/scheduled_reports_table.html
  rocky/reports/views/report_overview.py
  rocky/rocky/locale/django.pot
Labels: frontend

#3708 Add exception handling to the rest api
  mula/pyproject.toml
  mula/scheduler/server/errors.py
  mula/scheduler/server/handlers/queues.py
  mula/scheduler/server/handlers/schedulers.py
  mula/scheduler/server/handlers/schedules.py
  mula/scheduler/server/handlers/tasks.py
  mula/scheduler/server/server.py
  mula/tests/integration/test_api.py
Labels: mula
