Repository minvws/nl-kat-coordination, pull requests merged in 2024-03, with the labels that each got.

#2393 Create findings report
  rocky/reports/report_types/findings_report/__init__.py
  rocky/reports/report_types/findings_report/report.html
  rocky/reports/report_types/findings_report/report.py
  rocky/reports/report_types/helpers.py
  rocky/reports/templates/partials/report_severity_totals.html
  rocky/reports/templates/partials/report_severity_totals_table.html
  rocky/rocky/locale/django.pot
  rocky/rocky/templates/partials/ooi_detail_toolbar.html
  rocky/tests/conftest.py
  rocky/tests/reports/test_findings_report.py
Labels: report

#2468 Add metrics collection for scheduler using prometheus
  docker-compose.yml
  mula/docs/metrics.md
  mula/scheduler/app.py
  mula/scheduler/connectors/listeners/listeners.py
  mula/scheduler/schedulers/boefje.py
  mula/scheduler/schedulers/normalizer.py
  mula/scheduler/utils/thread.py
  prometheus.yml
Labels: mula

#2592 Filter out undeserializable objects from xtdb query in `construct_neighbour_query_multi`
  octopoes/octopoes/repositories/ooi_repository.py
Labels: bug, octopoes, backend

#2593 TLS Report unit tests
  rocky/tests/conftest.py
  rocky/tests/reports/test_tls_report.py
Labels: tech-debt, report

#2596 Fix missing finding_type table
  rocky/reports/report_types/mail_report/report.html
Labels: bug, report

#2506 add extra checks for findings to dns report
  rocky/reports/report_types/dns_report/report.html
  rocky/reports/report_types/dns_report/report.py
  rocky/rocky/locale/django.pot
Labels: report

#2616 Fix bug in Generate Report
  rocky/reports/views/generate_report.py
Labels: bug

#2602 DNS Report unit tests
  rocky/tests/conftest.py
  rocky/tests/reports/test_dns_report.py
Labels: tech-debt, report

#2640 Update tabler icons to v3.01
  rocky/assets/css/themes/soft/fonts/tabler-icons/tabler-icons.scss
  rocky/assets/css/themes/soft/fonts/tabler-icons/tabler-icons.ttf
  rocky/assets/css/themes/soft/fonts/tabler-icons/tabler-icons.woff
  rocky/assets/css/themes/soft/fonts/tabler-icons/tabler-icons.woff2
Labels: rocky

#2684 Remove unnecessary loop in `FilterRequest` in scheduler
  mula/scheduler/storage/filters/filters.py
Labels: mula

#2600 fix: openssl boefje stuck on port 80
  boefjes/boefjes/plugins/kat_ssl_certificates/main.py
Labels: boefjes

#2643 Improvements of Aggregate Report
  rocky/reports/report_types/aggregate_organisation_report/report.html
  rocky/reports/report_types/open_ports_report/report.py
  rocky/reports/templates/partials/report_types_selection.html
  rocky/reports/templates/partials/report_types_tiles.html
  rocky/reports/templates/partials/report_types_tiles_required_optional.html
  rocky/tests/conftest.py
  rocky/tests/reports/test_open_ports_report.py
Labels: report

#2363 refactor the leakix normalizer to be less one giant method.
  .pre-commit-config.yaml
  boefjes/boefjes/plugins/kat_leakix/main.py
  boefjes/boefjes/plugins/kat_leakix/normalize.py
  boefjes/tests/examples/raw/leakix-example.com-output.txt
  boefjes/tests/examples/raw/leakix-example.com.json
  boefjes/tests/test_leakix.py
Labels: boefjes, tech-debt

#2633 Improve generate report
  rocky/reports/report_types/dns_report/report.html
  rocky/reports/report_types/findings_report/report.html
  rocky/reports/report_types/helpers.py
  rocky/reports/report_types/ipv6_report/report.html
  rocky/reports/report_types/mail_report/report.html
  rocky/reports/report_types/multi_organization_report/asset_overview.html
  rocky/reports/report_types/multi_organization_report/open_ports.html
  rocky/reports/report_types/name_server_report/report.html
  rocky/reports/report_types/open_ports_report/report.html
  rocky/reports/report_types/open_ports_report/report.py
  rocky/reports/report_types/rpki_report/report.html
  rocky/reports/report_types/safe_connections_report/report.html
  rocky/reports/report_types/systems_report/report.html
  rocky/reports/report_types/tls_report/report.html
  rocky/reports/report_types/vulnerability_report/report.html
  rocky/reports/report_types/web_system_report/report.html
  rocky/reports/templates/generate_report.html
  rocky/reports/templates/generate_report_pdf.html
  rocky/reports/templates/partials/generate_report_sidemenu.html
  rocky/reports/templates/partials/report_header.html
  rocky/reports/templates/partials/report_introduction.html
  rocky/reports/templates/partials/report_severity_totals_table.html
  rocky/reports/templates/summary/report_asset_overview.html
  rocky/reports/templates/summary/report_summary.html
  rocky/reports/views/generate_report.py
  rocky/rocky/locale/django.pot
Labels: report

#2729 Upgrade `pre-commit` hooks
  .pre-commit-config.yaml
  boefjes/boefjes/migrations/versions/0001_add_katalogus_models.py
  boefjes/boefjes/migrations/versions/0002_change_lengths_of_several_char_fields.py
  boefjes/boefjes/migrations/versions/0003_longer_plugin_ids.py
  boefjes/boefjes/migrations/versions/197672984df0_make_organisation_code_field_larger.py
  boefjes/boefjes/migrations/versions/cd34fdfafdaf_json_settings_for_settings_table.py
  boefjes/boefjes/plugins/kat_cve_2023_34039/main.py
  boefjes/boefjes/plugins/kat_dns/main.py
  boefjes/boefjes/plugins/kat_dns_zone/main.py
  boefjes/boefjes/plugins/kat_dnssec/main.py
  boefjes/boefjes/plugins/kat_external_db/main.py
  boefjes/boefjes/plugins/kat_rpki/main.py
  boefjes/boefjes/plugins/kat_wpscan/main.py
  bytes/bytes/database/migrations/versions/0001_initial.py
  bytes/bytes/database/migrations/versions/0002_drop_output_add_input.py
  bytes/bytes/database/migrations/versions/0003_rename_module_to_normalizer_boefje.py
  bytes/bytes/database/migrations/versions/0004_rename_boefje_name_to_boefje_id.py
  bytes/bytes/database/migrations/versions/0005_add_secure_hash_link_boefje_meta.py
  bytes/bytes/database/migrations/versions/0006_remove_redundant_dispatches_field.py
  bytes/bytes/database/migrations/versions/0007_add_raw_file_models.py
  bytes/bytes/database/migrations/versions/0008_point_normalizer_to_raw_file.py
  bytes/bytes/database/migrations/versions/0009_max_length_on_varchar_s.py
  bytes/bytes/database/migrations/versions/0010_longer_retrieval_link_string.py
  bytes/bytes/database/migrations/versions/0011_longer_normalizer_name_and_boefje_id.py
  bytes/bytes/database/migrations/versions/0011_rename_normalizer_name_to_normalizer_id.py
  bytes/bytes/database/migrations/versions/09a2929108d9_add_signing_provider_model.py
  bytes/bytes/database/migrations/versions/1dde0213e9fe_remove_all_hash_mime_types.py
  bytes/bytes/database/migrations/versions/65a39ab3e224_increase_organization_and_input_ooi_size.py
  bytes/bytes/database/migrations/versions/d216ad75177d_add_environment_and_runnable_hash_.py
  bytes/bytes/database/migrations/versions/e09d8780e34b_nullable_input_ooi.py
  bytes/bytes/database/migrations/versions/e2f76e95f1e7_.py
  bytes/bytes/database/migrations/versions/ebc7de8be4e3_increase_organization_id_length.py
  bytes/bytes/database/migrations/versions/ec68d3eb14b1_remove_redundant_boefje_meta_foreign.py
  bytes/bytes/database/migrations/versions/fa64454868a9_add_index_on_boefjemeta_table_.py
  keiko/keiko/api.py
  keiko/keiko/cli.py
  keiko/keiko/health.py
  keiko/keiko/version.py
  keiko/setup.py
  keiko/templates/bevindingenrapport/model.py
  keiko/templates/intel/model.py
  keiko/tests/fixtures/templates/template2/model.py
  mula/scheduler/alembic/versions/0001_initial_migration.py
  mula/scheduler/alembic/versions/0002_update_tasks.py
  mula/scheduler/alembic/versions/0003_add_type_field_to_tasks.py
  mula/scheduler/alembic/versions/0004_add_server_default.py
  mula/scheduler/alembic/versions/0005_size_limit_hash.py
  mula/scheduler/alembic/versions/0006_add_jsonb_fields_add_jsonb_fields.py
  mula/scheduler/alembic/versions/0007_add_cancelled_status_for_tasks.py
  octopoes/bits/runner.py
  octopoes/octopoes/core/service.py
  octopoes/tests/test_scan_profile_repository.py
  rocky/katalogus/views/plugin_enable_disable.py
Labels: dependencies

#2718 Remove Docker Compose: "version"
  .github/workflows/build-rdo-package.yml
  .github/workflows/mula_tests.yml
  boefjes/.ci/docker-compose.yml
  boefjes/.dockerignore
  boefjes/Makefile
  boefjes/base.yml
  bytes/.ci/docker-compose.yml
  bytes/Makefile
  bytes/base.yml
  docker-compose.release-example.yml
  docker-compose.yml
  keiko/.ci/docker-compose.yml
  keiko/Makefile
  keiko/docker-compose-base.yml
  mula/.ci/docker-compose.yml
  mula/.dockerignore
  mula/Makefile
  mula/base.yml
  octopoes/.ci/docker-compose.yml
  octopoes/Makefile
  octopoes/base.yml
  octopoes/docker-compose-base.yml
  rocky/.ci/docker-compose.yml
  rocky/.dockerignore
  rocky/Makefile
Labels: tech-debt

#2734 Undo project-directory in Rocky
  rocky/Makefile
Labels: bug, rocky

#2704 Feat stepper design v2
  rocky/assets/css/components/stepper-variables.scss
  rocky/assets/css/components/stepper.scss
Labels: frontend

#2662 Query non-reference fields and subclass-specific fields through path queries
  octopoes/octopoes/api/router.py
  octopoes/octopoes/connector/octopoes.py
  octopoes/octopoes/models/exception.py
  octopoes/octopoes/models/path.py
  octopoes/octopoes/models/types.py
  octopoes/octopoes/repositories/ooi_repository.py
  octopoes/octopoes/xtdb/query.py
  octopoes/tests/integration/test_xtdb_client.py
  octopoes/tests/test_ooi_repository.py
  octopoes/tests/test_query.py
  rocky/katalogus/client.py
  rocky/reports/views/generate_report.py
Labels: octopoes, 😸 QA feedback

#2730 Dont report vulnerabilites without version info of the software for snyk
  boefjes/boefjes/plugins/kat_snyk/check_version.py
Labels: bug, boefjes
