Repository minvws/nl-kat-coordination, pull requests merged in 2024-08, with the labels that each got.

#3294 Restructure scheduler storage module
  mula/scheduler/context/context.py
  mula/scheduler/schedulers/scheduler.py
  mula/scheduler/server/server.py
  mula/scheduler/storage/__init__.py
  mula/scheduler/storage/pq_store.py
  mula/scheduler/storage/storage.py
  mula/scheduler/storage/task_store.py
  mula/scheduler/storage/utils.py
  mula/tests/integration/test_api.py
  mula/tests/integration/test_app.py
  mula/tests/integration/test_boefje_scheduler.py
  mula/tests/integration/test_normalizer_scheduler.py
  mula/tests/integration/test_scheduler.py
  mula/tests/integration/test_services.py
  mula/tests/integration/test_task_store.py
  mula/tests/unit/test_queue.py
Labels: mula

#3305 Add user id to OOI
  boefjes/tests/examples/raw/leakix-example.com-output.txt
  boefjes/tests/test_bodyimage.py
  boefjes/tests/test_calvin.py
  boefjes/tests/test_manual.py
  octopoes/octopoes/models/__init__.py
  octopoes/octopoes/repositories/ooi_repository.py
  octopoes/tests/integration/test_io.py
  octopoes/tests/integration/test_xtdb_client.py
  octopoes/tests/test_event_manager.py
  rocky/onboarding/templates/step_3c_setup_scan_ooi_detail.html
  rocky/onboarding/views.py
  rocky/rocky/locale/django.pot
  rocky/rocky/templates/oois/ooi_add.html
  rocky/rocky/templates/oois/ooi_detail_object.html
  rocky/rocky/templates/oois/ooi_edit.html
  rocky/rocky/views/mixins.py
  rocky/rocky/views/ooi_add.py
  rocky/rocky/views/ooi_edit.py
  rocky/rocky/views/ooi_view.py
  rocky/tests/conftest.py
  rocky/tests/objects/test_objects_add.py
  rocky/tools/forms/ooi_form.py
Labels: rocky, octopoes, backend

#3297 Fix new boefjes issue for scheduler
  mula/scheduler/connectors/services/katalogus.py
  mula/scheduler/utils/dict_utils.py
  mula/tests/integration/test_services.py
Labels: mula

#3295 Restructure scheduler server module
  mula/scheduler/server/handlers/__init__.py
  mula/scheduler/server/handlers/health.py
  mula/scheduler/server/handlers/metrics.py
  mula/scheduler/server/handlers/queues.py
  mula/scheduler/server/handlers/root.py
  mula/scheduler/server/handlers/schedulers.py
  mula/scheduler/server/handlers/tasks.py
  mula/scheduler/server/server.py
  mula/scheduler/server/utils/__init__.py
  mula/scheduler/server/utils/pagination.py
Labels: mula

#3293 Restructure scheduler development scripts
  .pre-commit-config.yaml
  mula/scripts/.gitignore
  mula/scripts/Dockerfile
  mula/scripts/README.md
  mula/scripts/__init__.py
  mula/scripts/benchmark.py
  mula/scripts/load.py
Labels: mula

#3325 Update Django (1.16)
  rocky/poetry.lock
  rocky/requirements-dev.txt
  rocky/requirements.txt
Labels: backport

#3317 Basic audit trails via logging
  octopoes/octopoes/connector/octopoes.py
  rocky/account/mixins.py
  rocky/account/models.py
  rocky/katalogus/client.py
  rocky/rocky/apps.py
  rocky/rocky/bytes_client.py
  rocky/rocky/signals.py
  rocky/tools/models.py
Labels: rocky, bytes, boefjes, octopoes, katalogus

#3343 Allow MuteFindings to expire by a user specified datetime
  boefjes/boefjes/job_models.py
  boefjes/boefjes/plugins/kat_manual/single_ooi/normalize.py
  octopoes/octopoes/api/models.py
  octopoes/octopoes/api/router.py
  octopoes/octopoes/core/service.py
  octopoes/octopoes/repositories/origin_repository.py
  octopoes/octopoes/xtdb/client.py
  octopoes/tests/integration/test_api_connector.py
  octopoes/tests/test_octopoes_service.py
  rocky/rocky/locale/django.pot
  rocky/rocky/templates/findings/finding_list.html
  rocky/rocky/views/ooi_mute.py
  rocky/rocky/views/ooi_view.py
  rocky/tests/objects/test_objects_add.py
  rocky/tools/forms/ooi.py
  rocky/tools/forms/ooi_form.py
  rocky/tools/ooi_helpers.py
Labels: rocky, octopoes, feature request, backend

#3238 Add geo OOI type and Maxmind geoip boefje
  boefjes/boefjes/plugins/kat_maxmind_geoip/__init__.py
  boefjes/boefjes/plugins/kat_maxmind_geoip/boefje.json
  boefjes/boefjes/plugins/kat_maxmind_geoip/cover.jpg
  boefjes/boefjes/plugins/kat_maxmind_geoip/main.py
  boefjes/boefjes/plugins/kat_maxmind_geoip/normalize.py
  boefjes/boefjes/plugins/kat_maxmind_geoip/normalizer.json
  boefjes/boefjes/plugins/kat_maxmind_geoip/schema.json
  boefjes/poetry.lock
  boefjes/pyproject.toml
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  boefjes/tests/integration/test_api.py
  octopoes/octopoes/models/ooi/geography.py
  octopoes/octopoes/models/types.py
Labels: 😸 Review/QA feedback

#3360 Fix rocky/tests/objects/test_objects_add.py
  rocky/tests/objects/test_objects_add.py
Labels: rocky

#3359 Feature/3310 update description for external database boefje
  boefjes/boefjes/plugins/kat_external_db/description.md
  octopoes/octopoes/repositories/scan_profile_repository.py
Labels: boefjes

#3365 Add mention of other http client to docs
  docs/source/developer_documentation/boefjes-runner.md
Labels: documentation

#3372 Add more handling of external services responses in scheduler
  mula/scheduler/connectors/services/bytes.py
  mula/scheduler/connectors/services/katalogus.py
  mula/scheduler/connectors/services/octopoes.py
  mula/scheduler/connectors/services/services.py
  mula/scheduler/schedulers/boefje.py
  mula/scheduler/schedulers/normalizer.py
Labels: mula

#3382 Fix no certificate bug
  boefjes/boefjes/plugins/kat_ssl_certificates/normalize.py
  boefjes/tests/test_sslcertificate_normalizer.py
Labels: boefjes

#3344 Support setting a custom JSON schema for copied boefjes
  boefjes/boefjes/dependencies/plugins.py
  boefjes/boefjes/katalogus/plugins.py
  boefjes/boefjes/katalogus/root.py
  boefjes/boefjes/local_repository.py
  boefjes/boefjes/migrations/versions/5be152459a7b_introduce_schema_field_to_boefje_model.py
  boefjes/boefjes/migrations/versions/f9de6eb7824b_introduce_boefjeconfig_model.py
  boefjes/boefjes/models.py
  boefjes/boefjes/plugins/models.py
  boefjes/boefjes/sql/db_models.py
  boefjes/boefjes/sql/plugin_storage.py
  boefjes/tests/integration/test_api.py
  boefjes/tests/integration/test_migration_add_schema_field.py
  boefjes/tests/integration/test_remove_repository_migration.py
  boefjes/tests/integration/test_settings_to_boefje_config_migration.py
Labels: 😸 Review/QA feedback

#3353 Add create schedule functionality to scheduler api
  mula/docs/openapi.json
  mula/scheduler/models/schedule.py
  mula/scheduler/server/handlers/schedules.py
  mula/scheduler/server/serializers/__init__.py
  mula/scheduler/server/serializers/schedule.py
  mula/scheduler/server/server.py
  mula/scheduler/storage/schedule_store.py
  mula/tests/integration/test_api.py
  mula/tests/integration/test_schedule_store.py
Labels: mula

#3394 feat: :chart_with_upwards_trend: default katalogus view to boefje
  rocky/katalogus/templates/partials/plugins_navigation.html
  rocky/katalogus/urls.py
  rocky/rocky/locale/django.pot
Labels: rocky

#3393 feat: :memo: improve pagination
  rocky/katalogus/views/plugin_settings_list.py
  rocky/reports/views/report_overview.py
  rocky/rocky/views/finding_list.py
  rocky/rocky/views/tasks.py
Labels: enhancement, rocky

#3413 Replace lru_cache with cache
  bytes/bytes/config.py
  bytes/bytes/database/db.py
  bytes/bytes/rabbitmq.py
  octopoes/bits/definitions.py
Labels: octopoes, tech-debt

#3291 Kat dns serverversion
  boefjes/boefjes/plugins/kat_dns_version/__init__.py
  boefjes/boefjes/plugins/kat_dns_version/boefje.json
  boefjes/boefjes/plugins/kat_dns_version/description.md
  boefjes/boefjes/plugins/kat_dns_version/main.py
  boefjes/boefjes/plugins/kat_dns_version/normalize.py
  boefjes/boefjes/plugins/kat_dns_version/normalizer.json
  boefjes/boefjes/plugins/kat_dns_version/schema.json
  boefjes/tests/integration/test_api.py
Labels: 😸 Review/QA feedback
