Repository minvws/nl-kat-coordination, pull requests merged in 2024-09, with the labels that each got.

#3420 Stop yielding network in certain normalizers
  boefjes/boefjes/plugins/kat_crt_sh/normalize.py
  boefjes/boefjes/plugins/kat_nmap_tcp/normalize.py
  boefjes/tests/test_nmap.py
Labels: boefjes, backend

#3405 Feature/finding sorting searching
  octopoes/octopoes/api/router.py
  octopoes/octopoes/connector/octopoes.py
  octopoes/octopoes/repositories/ooi_repository.py
  rocky/rocky/locale/django.pot
  rocky/rocky/templates/findings/findings_filter.html
  rocky/rocky/views/finding_list.py
  rocky/rocky/views/mixins.py
  rocky/tools/forms/findings.py
Labels: 😸 Review/QA feedback

#3450 fix: notification width
  rocky/assets/css/main.scss
  rocky/assets/css/vendor_overrides/manon/notification.scss
Labels: frontend

#3451 feat: :boom: recalculate all bits
  rocky/rocky/locale/django.pot
  rocky/rocky/templates/organizations/organization_list.html
  rocky/rocky/views/organization_list.py
Labels: rocky, bits, scalability

#3461 feat: adds notification styling and icons
  rocky/assets/css/components/button-plain.scss
  rocky/assets/css/components/notifications.scss
  rocky/assets/css/main.scss
  rocky/assets/css/themes/soft/manon/notification-block.scss
Labels: frontend

#3449 fix: toggle styling
  rocky/assets/css/components/toggle.scss
  rocky/assets/css/components/toolbar.scss
  rocky/assets/css/main.scss
  rocky/assets/css/themes/soft/fundamentals/border-radii.scss
  rocky/assets/css/themes/soft/manon/button-icon.scss
  rocky/assets/css/themes/soft/manon/button.scss
  rocky/katalogus/templates/partials/katalogus_toolbar.html
Labels: frontend

#3483 [backport-1.16] Fix enabling normalizers from Rocky
  rocky/katalogus/client.py
  rocky/katalogus/views/plugin_enable_disable.py
  rocky/katalogus/views/plugin_settings_add.py
  rocky/rocky/locale/django.pot
Labels: backport

#3484 [backport-1.17] Fix enabling normalizers from Rocky
  rocky/katalogus/client.py
  rocky/katalogus/views/plugin_enable_disable.py
  rocky/katalogus/views/plugin_settings_add.py
  rocky/rocky/locale/django.pot
Labels: backport

#3471 Make the "name" field for plugins mandatory
  boefjes/boefjes/models.py
  boefjes/boefjes/plugins/kat_dns_version/normalizer.json
  boefjes/boefjes/plugins/kat_green_hosting/normalizer.json
  boefjes/boefjes/plugins/kat_kat_finding_types/normalizer.json
  boefjes/boefjes/plugins/kat_manual/single_ooi/normalizer.json
  boefjes/tests/katalogus/boefjes_test_dir/kat_test/kat_test_2/kat_test_3/normalizer.json
  boefjes/tests/katalogus/boefjes_test_dir/kat_test/normalizer.json
  boefjes/tests/modules/dummy_bad_normalizer_dict_structure/normalizer.json
  boefjes/tests/modules/dummy_bad_normalizer_return_type/normalizer.json
  boefjes/tests/modules/dummy_normalizer/normalizer.json
  boefjes/tests/modules/dummy_normalizer_import_error/normalizer.json
  boefjes/tests/test_tasks.py
Labels: bug, boefjes

#3482 Handle empty normalizer results
  boefjes/boefjes/job_handler.py
Labels: bug

#3481 Fix enabling normalizers from Rocky
  rocky/katalogus/client.py
  rocky/katalogus/views/plugin_enable_disable.py
  rocky/katalogus/views/plugin_settings_add.py
  rocky/rocky/locale/django.pot
Labels: bug, rocky, 😸 Review/QA feedback

#3476 Feature/upload multiple files at once to bytes
  boefjes/boefjes/clients/bytes_client.py
  bytes/bytes/api/models.py
  bytes/bytes/api/router.py
  bytes/bytes/models.py
  bytes/tests/client.py
  bytes/tests/integration/test_bytes_api.py
  bytes/tests/integration/test_migrations.py
  bytes/tests/unit/test_context_mapping.py
  rocky/rocky/bytes_client.py
Labels: bytes

#3352 Add report scheduler functionality to scheduler
  mula/scheduler/app.py
  mula/scheduler/models/__init__.py
  mula/scheduler/models/task.py
  mula/scheduler/schedulers/__init__.py
  mula/scheduler/schedulers/report.py
  mula/scheduler/server/handlers/schedules.py
  mula/tests/integration/test_api.py
  mula/tests/integration/test_app.py
  mula/tests/integration/test_report_scheduler.py
Labels: mula

#3446 feat: multi select dropdown
  rocky/assets/css/components/destructive.scss
  rocky/assets/css/components/dropdown-form.scss
  rocky/assets/css/components/dropdown.scss
  rocky/assets/css/components/form.scss
  rocky/assets/css/main.scss
  rocky/assets/css/themes/soft/manon/checkbox.scss
  rocky/assets/css/themes/soft/manon/form.scss
  rocky/assets/css/themes/soft/manon/language-selector-list.scss
  rocky/assets/css/themes/soft/manon/link.scss
  rocky/assets/css/themes/soft/manon/tags.scss
Labels: frontend

#3429 Add timezone to valid time
  rocky/rocky/views/upload_raw.py
Labels: bug

#3506 Check if the task is still running according to the scheduler before changing the status
  boefjes/boefjes/app.py
  boefjes/boefjes/docker_boefjes_runner.py
  boefjes/tests/conftest.py
  boefjes/tests/examples/scheduler/pop_response_boefje_2.json
  boefjes/tests/examples/scheduler/pop_response_boefje_dispatched.json
  boefjes/tests/test_app.py
Labels: bug, boefjes

#3519 Use the right variable name in the template's if-statement
  rocky/katalogus/templates/boefje_detail.html
Labels: bug

#3516 Add regex pattern check to PORTS setting of `nmap-ports`
  boefjes/boefjes/plugins/kat_nmap_ports/schema.json
  boefjes/tests/test_nmap.py
Labels: boefjes

#3515 remove unneeded column from filtered plugin table view
  rocky/katalogus/templates/katalogus.html
  rocky/katalogus/templates/partials/plugins.html
  rocky/rocky/locale/django.pot
Labels: frontend, rocky

#3498 Also delete self-affirming or self-infered objects
  octopoes/octopoes/core/service.py
  octopoes/tests/integration/test_ooi_deletion.py
Labels: octopoes, backport1.17

#3430 Support valid_time and the like for queries in xtdb tools
  octopoes/tools/xtdb-cli.py
  octopoes/tools/xtdb_client.py
Labels: xtdb

#3543 Fix xtdb-cli
  octopoes/tools/xtdb-cli.py
Labels: bug, xtdb

#3531 Fix duplicate OOI references in result in origin
  octopoes/octopoes/repositories/origin_repository.py
  octopoes/tests/integration/test_io.py
Labels: bug, octopoes, tech-debt, backend

#3540 Update docs for creating a new Boefje
  docs/source/developer_documentation/development_tutorial/creating_a_boefje.md
Labels: documentation

#3290 Feat/bit domain ownership pending
  boefjes/boefjes/plugins/kat_kat_finding_types/kat_finding_types.json
  octopoes/bits/domain_owner_verification/__init__.py
  octopoes/bits/domain_owner_verification/bit.py
  octopoes/bits/domain_owner_verification/domain_owner_verification.py
  octopoes/tests/test_bit_domain_verification.py
Labels: 😸 Review/QA feedback

#3553 Fix/pin pydicom dependency and revert irrelevant version bumps
  boefjes/poetry.lock
  boefjes/pyproject.toml
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  boefjes/tests/plugins/test_manual.py
Labels: bug, dependencies, boefjes

#3561 Clean more stale origins
  octopoes/octopoes/core/service.py
Labels: octopoes, tech-debt

#3564 Prevent race conditions between Octopoes' event manager and the scheduler from recreating already deleted OOIs through affirmations
  octopoes/octopoes/core/service.py
Labels: bug, octopoes, tech-debt

#3442 Add report recipe OOI
  octopoes/octopoes/models/ooi/reports.py
  octopoes/octopoes/models/types.py
Labels: 😸 Review/QA feedback

#3574 Fix boefje schema on Boefje Setup page
  rocky/katalogus/client.py
  rocky/katalogus/views/boefje_setup.py
  rocky/rocky/locale/django.pot
  rocky/tests/conftest.py
  rocky/tools/forms/boefje.py
Labels: bug, regression

#3562 Set default findingtype risk in model instead of in bit
  boefjes/tests/examples/raw/leakix-example.com-output.txt
  octopoes/bits/default_findingtype_risk/__init__.py
  octopoes/bits/default_findingtype_risk/bit.py
  octopoes/bits/default_findingtype_risk/default_findingtype_risk.py
  octopoes/octopoes/models/ooi/findings.py
  octopoes/tests/test_bit_default_findingtype_risk.py
  rocky/tests/integration/test_reports.py
  rocky/tests/reports/test_vulnerability_report.py
Labels: octopoes, tech-debt

#3555 Feature/add boefje scheduling fields
  boefjes/boefjes/katalogus/plugins.py
  boefjes/boefjes/katalogus/root.py
  boefjes/boefjes/migrations/versions/5be152459a7b_introduce_schema_field_to_boefje_model.py
  boefjes/boefjes/migrations/versions/9f48560b0000_add_schedule_interval_fields.py
  boefjes/boefjes/models.py
  boefjes/boefjes/sql/db_models.py
  boefjes/boefjes/sql/plugin_storage.py
  boefjes/poetry.lock
  boefjes/pyproject.toml
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  boefjes/tests/integration/test_api.py
  boefjes/tests/integration/test_migration_add_schema_field.py
  boefjes/tests/integration/test_sql_repositories.py
Labels: boefjes, katalogus

#3577 Refactor and fix faulty save_origin exception code
  octopoes/octopoes/core/service.py
  octopoes/octopoes/events/manager.py
Labels: bug, octopoes

#3583 Do not store the hypothetically produced mime-types always
  boefjes/boefjes/api.py
  boefjes/boefjes/job_handler.py
  boefjes/boefjes/plugins/kat_dnssec/main.py
  boefjes/boefjes/plugins/kat_dnssec/normalizer.json
  boefjes/boefjes/plugins/kat_nmap_tcp/main.py
  boefjes/boefjes/plugins/kat_nmap_tcp/normalizer.json
  bytes/tests/client.py
  bytes/tests/integration/test_bytes_api.py
Labels: bug, boefjes

#3589 Add 'set start date' functionality to scheduler
  mula/scheduler/server/serializers/schedule.py
Labels: mula

#3579 Add interval to Boefje
  rocky/katalogus/client.py
  rocky/katalogus/templates/plugin_container_image.html
  rocky/katalogus/views/boefje_setup.py
  rocky/rocky/locale/django.pot
  rocky/tools/forms/boefje.py
Labels: frontend, boefjes

#3529 Add boefje interval and cron check for deadline in scheduler
  mula/scheduler/models/plugin.py
  mula/scheduler/schedulers/boefje.py
  mula/scheduler/schedulers/scheduler.py
  mula/tests/factories/plugin.py
  mula/tests/integration/test_boefje_scheduler.py
  mula/tests/integration/test_scheduler.py
Labels: mula
