Repository minvws/nl-kat-coordination, pull requests merged in 2024-02, with the labels that each got.

#2414 Fix normalizer filtering on tasks endpoint
  mula/scheduler/server/server.py
Labels: mula

#2420 Fix usage of `SPAN_EXPORT_GRPC_ENDPOINT` variable
  boefjes/boefjes/katalogus/api.py
  bytes/bytes/api/__init__.py
  keiko/keiko/api.py
  octopoes/octopoes/api/api.py
Labels: bug

#2460 Add mypy and application bootstrap test to boefjes
  .pre-commit-config.yaml
  boefjes/boefjes/api.py
  boefjes/boefjes/app.py
  boefjes/boefjes/clients/bytes_client.py
  boefjes/boefjes/clients/scheduler_client.py
  boefjes/boefjes/config.py
  boefjes/boefjes/docker_boefjes_runner.py
  boefjes/boefjes/job_handler.py
  boefjes/boefjes/katalogus/clients.py
  boefjes/boefjes/katalogus/dependencies/plugins.py
  boefjes/boefjes/katalogus/local_repository.py
  boefjes/boefjes/katalogus/storage/memory.py
  boefjes/boefjes/katalogus/types.py
  boefjes/boefjes/runtime_interfaces.py
  boefjes/boefjes/sql/plugin_enabled_storage.py
  boefjes/tests/conftest.py
  boefjes/tests/test_app.py
Labels: python, tech-debt

#2375 minimal / maximal number of required checboxes checked functionality
  rocky/assets/js/checkboxToggler.js
  rocky/reports/templates/partials/report_ooi_list.html
  rocky/reports/templates/partials/report_types_selection.html
  rocky/rocky/templates/oois/ooi_list.html
Labels: rocky, javascript

#2387 Update scheduler architecture documentation
  .pre-commit-config.yaml
  docs/source/developer_documentation/mula.md
  mula/docs/architecture.md
  mula/docs/img/diagram001.svg
  mula/docs/img/diagram002.svg
  mula/docs/img/diagram003.svg
  mula/docs/img/diagram004.svg
  mula/docs/img/diagram005.svg
  mula/docs/img/diagram006.svg
  mula/docs/img/diagram007.svg
  mula/docs/img/diagram008.svg
  mula/docs/img/diagram009.svg
  mula/docs/img/diagram010.svg
  mula/docs/img/schematic-drawing.svg
  mula/scheduler/app.py
Labels: mula

#2509 Fix bug get_selection that is now an imported method
  rocky/reports/views/aggregate_report.py
  rocky/reports/views/generate_report.py
  rocky/reports/views/multi_report.py
Labels: bug

#2517 Update and remove dependencies
  boefjes/poetry.lock
  boefjes/pyproject.toml
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  bytes/poetry.lock
  bytes/pyproject.toml
  bytes/requirements-dev.txt
  bytes/requirements.txt
  keiko/poetry.lock
  keiko/requirements-dev.txt
  keiko/requirements.txt
  mula/poetry.lock
  mula/requirements-dev.txt
  mula/requirements.txt
  octopoes/poetry.lock
  octopoes/pyproject.toml
  octopoes/requirements-dev.txt
  octopoes/requirements.txt
  rocky/poetry.lock
  rocky/pyproject.toml
  rocky/requirements-dev.txt
  rocky/requirements.txt
Labels: dependencies, tech-debt

#2505 Fix/case insensitive hsts
  octopoes/bits/check_hsts_header/check_hsts_header.py
Labels: boefjes

#2023 Checks for future dates (observed_at)
  rocky/crisis_room/views.py
  rocky/reports/views/aggregate_report.py
  rocky/reports/views/base.py
  rocky/reports/views/generate_report.py
  rocky/rocky/locale/django.pot
  rocky/rocky/views/finding_list.py
  rocky/rocky/views/mixins.py
  rocky/rocky/views/ooi_detail.py
  rocky/rocky/views/ooi_list.py
  rocky/rocky/views/ooi_report.py
  rocky/rocky/views/ooi_view.py
  rocky/tests/test_observed_at.py
  rocky/tools/forms/base.py
Labels: rocky

#2539 Remove FMEA
  .pre-commit-config.yaml
  octopoes/tests/robot/05_bits.robot
  rocky/MANIFEST.in
  rocky/assets/css/components/fmea.scss
  rocky/assets/css/main.scss
  rocky/export_migrations/0099.fmea.0004_remove_failuremode_effect_and_more.sql
  rocky/fmea/__init__.py
  rocky/fmea/admin.py
  rocky/fmea/apps.py
  rocky/fmea/forms.py
  rocky/fmea/migrations/0001_initial.py
  rocky/fmea/migrations/0004_remove_failuremode_effect_and_more.py
  rocky/fmea/models.py
  rocky/fmea/signals.py
  rocky/fmea/templates/fmea/fmea_department_heatmap.html
  rocky/fmea/templates/fmea/fmea_failure_mode_affected_object_detail.html
  rocky/fmea/templates/fmea/fmea_failure_mode_affected_object_form.html
  rocky/fmea/templates/fmea/fmea_failure_mode_affected_object_list.html
  rocky/fmea/templates/fmea/fmea_failure_mode_departments.html
  rocky/fmea/templates/fmea/fmea_failure_mode_detail.html
  rocky/fmea/templates/fmea/fmea_failure_mode_effect_detail.html
  rocky/fmea/templates/fmea/fmea_failure_mode_effect_form.html
  rocky/fmea/templates/fmea/fmea_failure_mode_effect_list.html
  rocky/fmea/templates/fmea/fmea_failure_mode_form.html
  rocky/fmea/templates/fmea/fmea_failure_mode_list.html
  rocky/fmea/templates/fmea/fmea_failure_mode_report.html
  rocky/fmea/templates/fmea/fmea_index.html
  rocky/fmea/tools.py
  rocky/fmea/urls.py
  rocky/fmea/views/__init__.py
  rocky/fmea/views/fmea_affected_objects.py
  rocky/fmea/views/fmea_analytics.py
  rocky/fmea/views/fmea_failure_mode.py
  rocky/fmea/views/fmea_failure_mode_effect.py
  rocky/fmea/views/view_helpers.py
  rocky/fmea/views/views.py
  rocky/poetry.lock
  rocky/pyproject.toml
  rocky/requirements-dev.txt
  rocky/requirements.txt
  rocky/rocky/locale/django.pot
  rocky/rocky/templates/dashboard_redteam.html
  rocky/tools/models.py
Labels: rocky, tech-debt

#2552 Update packages
  boefjes/poetry.lock
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  bytes/poetry.lock
  bytes/pyproject.toml
  bytes/requirements-dev.txt
  bytes/requirements.txt
  cveapi/poetry.lock
  cveapi/pyproject.toml
  cveapi/requirements.txt
  keiko/poetry.lock
  keiko/pyproject.toml
  keiko/requirements-dev.txt
  keiko/requirements.txt
  mula/poetry.lock
  mula/pyproject.toml
  mula/requirements-dev.txt
  mula/requirements.txt
  poetry.lock
  requirements.txt
  rocky/poetry.lock
  rocky/pyproject.toml
  rocky/requirements-dev.txt
  rocky/requirements.txt
Labels: dependencies, tech-debt

#2562 Quick fix for PDF table overflow
  rocky/assets/css/vendor_overrides/weasyprint/pdf-overrides.scss
  rocky/reports/report_types/vulnerability_report/report.html
  rocky/reports/report_types/vulnerability_report/report.py
  rocky/rocky/locale/django.pot
Labels: bug, report
