Repository minvws/nl-kat-coordination, pull requests merged in 2025-06, with the labels that each got.

#4509 Add organisation queryparameter for tasks endpoint in scheduler
  mula/scheduler/server/handlers/tasks.py
  mula/scheduler/storage/stores/task.py
Labels: mula

#4524 Updated packages and actions
  .github/workflows/boefjes_container_image.yml
  .github/workflows/build-debian-docker-image.yml
  .github/workflows/bytes_container_image.yml
  .github/workflows/codeql.yml
  .github/workflows/containerized_boefjes.yml
  .github/workflows/masscan_container_image.yml
  .github/workflows/mula_container_image.yml
  .github/workflows/octopoes_container_image.yml
  .github/workflows/rocky_container_image.yml
  .github/workflows/sonar-cloud.yml
  boefjes/poetry.lock
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  bytes/poetry.lock
  bytes/requirements-dev.txt
  bytes/requirements.txt
  mula/poetry.lock
  mula/requirements-dev.txt
  mula/requirements.txt
  octopoes/poetry.lock
  octopoes/requirements-dev.txt
  octopoes/requirements.txt
  poetry.lock
  requirements.txt
  rocky/poetry.lock
  rocky/requirements-dev.txt
  rocky/requirements.txt
Labels: dependencies, python, github_actions

#4542 Package updates
  boefjes/poetry.lock
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  mula/poetry.lock
  mula/requirements-dev.txt
  poetry.lock
  requirements.txt
  rocky/poetry.lock
  rocky/requirements-dev.txt
Labels: dependencies, python

#4490 Fix filters at Members list
  rocky/rocky/forms.py
  rocky/rocky/locale/django.pot
  rocky/rocky/templates/organizations/organization_member_list.html
  rocky/rocky/templates/partials/organization_member_list_filters.html
  rocky/rocky/views/organization_member_list.py
  rocky/tests/test_organization.py
Labels: 😸 Review/QA feedback

#4562 Backport of package updates
  boefjes/poetry.lock
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  bytes/poetry.lock
  bytes/requirements-dev.txt
  bytes/requirements.txt
  mula/poetry.lock
  mula/requirements-dev.txt
  mula/requirements.txt
  octopoes/poetry.lock
  octopoes/requirements-dev.txt
  octopoes/requirements.txt
  poetry.lock
  requirements.txt
  rocky/poetry.lock
  rocky/pyproject.toml
  rocky/requirements-dev.txt
  rocky/requirements.txt
Labels: backport1.19

#4548 Update scheduler load script
  mula/scripts/README.md
  mula/scripts/data.csv.example
  mula/scripts/load.py
Labels: mula
