Repository minvws/nl-kat-coordination, pull requests merged in 2025-03, with the labels that each got.

#3951 Ci python 3.12 3.13
  .github/workflows/boefjes_tests.yml
  .github/workflows/bytes_tests.yml
  .github/workflows/mula_tests.yml
  .github/workflows/octopoes_tests.yml
  .github/workflows/rocky_tests.yml
  boefjes/poetry.lock
  boefjes/pyproject.toml
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  bytes/poetry.lock
  bytes/requirements-dev.txt
  bytes/requirements.txt
  mula/poetry.lock
  mula/pyproject.toml
  mula/requirements-dev.txt
  mula/requirements.txt
  octopoes/poetry.lock
  octopoes/pyproject.toml
  octopoes/requirements-dev.txt
  octopoes/requirements.txt
  rocky/poetry.lock
  rocky/pyproject.toml
  rocky/requirements-dev.txt
  rocky/requirements.txt
Labels: ci

#4078 Add CodeQL Scan
  .github/workflows/boefjes_container_image.yml
  .github/workflows/boefjes_tests.yml
  .github/workflows/build-debian-docker-image.yml
  .github/workflows/build_docs_on_pr.yml
  .github/workflows/bytes_container_image.yml
  .github/workflows/bytes_tests.yml
  .github/workflows/codeql.yml
  .github/workflows/containerized_boefjes.yml
  .github/workflows/debian_package.yml
  .github/workflows/masscan_container_image.yml
  .github/workflows/mula_container_image.yml
  .github/workflows/mula_tests.yml
  .github/workflows/octopoes_container_image.yml
  .github/workflows/octopoes_rtest.yml
  .github/workflows/octopoes_tests.yml
  .github/workflows/pre_commit_checks.yml
  .github/workflows/rocky_container_image.yml
  .github/workflows/rocky_makelang.yml
  .github/workflows/rocky_tests.yml
  .github/workflows/sonar-cloud.yml
  .github/workflows/test_debian_packages_on_ubuntu.yml
  docs/source/guidelines/index.rst
  docs/source/guidelines/security.rst
Labels: security

#4161 Moved the RabbitMQ installation and configuration section
  docs/source/installation-and-deployment/debian-install.rst
Labels: documentation, debian

#4162 Updated Django and Jinja2
  poetry.lock
  requirements.txt
  rocky/poetry.lock
  rocky/pyproject.toml
  rocky/requirements-dev.txt
  rocky/requirements.txt
Labels: dependencies, python

#4165 Implement/refactor fastapi 'extra models' in scheduler api
  mula/scheduler/server/handlers/health.py
  mula/scheduler/server/handlers/schedulers.py
  mula/scheduler/server/handlers/schedules.py
  mula/scheduler/server/handlers/tasks.py
  mula/scheduler/server/schemas/__init__.py
  mula/scheduler/server/schemas/health.py
  mula/scheduler/server/schemas/schedule.py
  mula/scheduler/server/schemas/scheduler.py
  mula/scheduler/server/schemas/task.py
  mula/scheduler/server/serializers/__init__.py
  mula/tests/integration/test_api.py
  mula/tests/utils/functions.py
Labels: mula, chore

#4179 Add indices for task table
  mula/scheduler/models/task.py
  mula/scheduler/storage/migrations/versions/0010_add_indices.py
Labels: mula

#4170 Fix redirect after editing boefje variant
  rocky/katalogus/views/boefje_setup.py
Labels: bug

#4177 Remove count from queue popping
  boefjes/boefjes/clients/scheduler_client.py
  boefjes/tests/conftest.py
  mula/scheduler/schedulers/queue/pq.py
  mula/scheduler/schedulers/scheduler.py
  mula/scheduler/server/handlers/schedulers.py
  mula/scheduler/server/schemas/__init__.py
  mula/scheduler/server/schemas/task.py
  mula/scheduler/storage/stores/pq.py
  mula/tests/integration/test_api.py
  mula/tests/integration/test_pq_store.py
  mula/tests/integration/test_scheduler.py
  mula/tests/unit/test_queue.py
  rocky/rocky/scheduler.py
Labels: mula, 😸 Review/QA feedback

#4193 1.18 backport of #4130
  mula/scheduler/schedulers/queue/pq.py
  mula/tests/unit/test_queue.py
Labels: mula

#4192 Use TaskPush model for scheduling tasks in rocky
  rocky/rocky/scheduler.py
  rocky/rocky/views/scheduler.py
Labels: rocky

#4136 Add relationship filtering in the scheduler
  mula/scheduler/storage/filters/functions.py
  mula/tests/integration/test_api.py
  mula/tests/unit/test_filter.py
Labels: mula

#4206 Correctly check if list empty
  mula/scheduler/schedulers/queue/pq.py
Labels: mula

#4209 Updated some packages
  boefjes/poetry.lock
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  bytes/poetry.lock
  bytes/requirements-dev.txt
  bytes/requirements.txt
  mula/poetry.lock
  mula/requirements-dev.txt
  mula/requirements.txt
  poetry.lock
  requirements.txt
  rocky/poetry.lock
  rocky/requirements-dev.txt
  rocky/requirements.txt
Labels: dependencies

#4221 Fix possible html reinterpretation issues in javascript files
  rocky/assets/js/jsonSchemaToForm.js
  rocky/assets/vendors/graph/js/graph-render.js
Labels: frontend, backport, security, backport1.18
