Repository minvws/nl-kat-coordination, pull requests merged in 2025-02, with the labels that each got.

#4063 Feat/plugin selection toggler
  rocky/assets/js/checkboxToggler.js
  rocky/reports/templates/partials/report_setup_scan.html
  rocky/rocky/locale/django.pot
Labels: UI/UX

#4045 Add one-off jobs for report scheduler
  mula/scheduler/schedulers/scheduler.py
  mula/scheduler/schedulers/schedulers/report.py
  mula/scheduler/storage/stores/schedule.py
  mula/tests/integration/test_scheduler.py
Labels: mula

#4050 optimize various bits around scan profiles
  octopoes/octopoes/core/service.py
  octopoes/octopoes/repositories/scan_profile_repository.py
Labels: octopoes, tech-debt

#4075 remove inline styling / svg graph as not compatible with out CSP
  rocky/rocky/templates/tasks/partials/stats.html
Labels: frontend

#4068 Remove unused queue_uri from boefje settings
  boefjes/boefjes/config.py
  boefjes/packaging/deb/data/etc/kat/boefjes.conf
  boefjes/pyproject.toml
Labels: tech-debt

#4104 Updated testcase for `Schedule` should result in `schedule_id` of `Task` to be set to `None`
  mula/tests/integration/test_api.py
  mula/tests/integration/test_schedule_store.py
Labels: mula

#4114 Updated packages
  boefjes/poetry.lock
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  bytes/poetry.lock
  bytes/requirements-dev.txt
  bytes/requirements.txt
  cveapi/poetry.lock
  mula/poetry.lock
  octopoes/poetry.lock
  poetry.lock
  pyproject.toml
  requirements.txt
  rocky/poetry.lock
  rocky/requirements-dev.txt
Labels: dependencies

#4116 (1.18) Updated `jinja2` and `cryptography`
  boefjes/poetry.lock
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  bytes/poetry.lock
  bytes/requirements-dev.txt
  bytes/requirements.txt
  poetry.lock
  requirements.txt
  rocky/poetry.lock
  rocky/requirements-dev.txt
Labels: backport1.18

#4120 Pin Ubuntu runners to version `24.04`
  .github/workflows/boefjes-tests.yml
  .github/workflows/boefjes_container_image.yml
  .github/workflows/boefjes_tests.yml
  .github/workflows/build-debian-docker-image.yml
  .github/workflows/build-rdo-package.yml
  .github/workflows/build_docs_on_pr.yml
  .github/workflows/bytes-tests.yml
  .github/workflows/bytes_container_image.yml
  .github/workflows/bytes_tests.yml
  .github/workflows/check_poetry_dependencies.yml
  .github/workflows/containerized_boefjes.yml
  .github/workflows/debian_package.yml
  .github/workflows/deploy_docs.yml
  .github/workflows/masscan_container_image.yml
  .github/workflows/mula-tests.yml
  .github/workflows/mula_container_image.yml
  .github/workflows/mula_tests.yml
  .github/workflows/octopoes-tests.yml
  .github/workflows/octopoes_container_image.yml
  .github/workflows/octopoes_rtest.yml
  .github/workflows/octopoes_tests.yml
  .github/workflows/pre_commit_checks.yml
  .github/workflows/rocky-tests.yml
  .github/workflows/rocky_container_image.yml
  .github/workflows/rocky_makelang.yml
  .github/workflows/rocky_tests.yml
  .github/workflows/sonar-cloud.yml
Labels: dependencies, github_actions

#4117 Remove deprecated queryparams
  mula/scheduler/server/handlers/tasks.py
Labels: mula, 😸 Review/QA feedback

#4127 Fix ssl certificates boefje scan level
  boefjes/boefjes/plugins/kat_ssl_certificates/boefje.json
Labels: backport1.18

#4130 Add missing locks in scheduler
  mula/scheduler/schedulers/queue/pq.py
  mula/tests/unit/test_queue.py
Labels: mula

#4076 Fix/side scrolling paginators
  rocky/rocky/templates/tasks/boefjes.html
  rocky/rocky/templates/tasks/normalizers.html
Labels: frontend, rocky, UI/UX

#4139 Update mixins.py, make sure findingsTypes are present in tree for OOI detail page
  rocky/rocky/views/mixins.py
  rocky/tests/objects/test_objects_graph.py
  rocky/tests/objects/test_objects_tree.py
Labels: rocky, regression, backport1.18
