Repository minvws/nl-kat-coordination, pull requests merged in 2025-01, with the labels that each got.

#4003 Fix test_report_runner.py
  rocky/tests/integration/test_report_runner.py
Labels: bug, rocky, tech-debt

#4002 Update folder structure in scheduler architecture doc
  mula/docs/architecture.md
Labels: mula

#3975 Docs: adding Questions and Configs
  docs/source/manual/img/question-port-mapping.png
  docs/source/manual/user-manual.rst
Labels: documentation

#4017 Bytes combined schedulers integration
  bytes/bytes/rabbitmq.py
Labels: bytes

#4016 Octopoes combined schedulers integration
  octopoes/octopoes/events/manager.py
Labels: octopoes

#3997 Move the NXDomain catch to look at the results now that we dont raise…
  boefjes/boefjes/plugins/kat_dns/main.py
Labels: boefjes

#3800 Update Wappalyzer
  .pre-commit-config.yaml
  boefjes/Dockerfile
  boefjes/boefjes/plugins/kat_wappalyzer/data/categories.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/groups.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/_.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/a.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/b.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/c.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/d.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/e.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/f.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/g.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/h.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/i.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/j.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/k.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/l.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/m.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/n.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/o.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/p.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/q.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/r.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/s.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/t.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/u.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/v.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/w.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/x.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/y.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/technologies/z.json
  boefjes/boefjes/plugins/kat_wappalyzer/data/update.sh
  boefjes/boefjes/plugins/kat_wappalyzer/data/urls.txt
  boefjes/boefjes/plugins/kat_wappalyzer/normalize.py
  boefjes/boefjes/plugins/kat_wappalyzer/normalizer.json
  boefjes/boefjes/plugins/kat_wappalyzer/utils.py
  boefjes/boefjes/plugins/kat_webpage_analysis/boefje.json
  boefjes/boefjes/plugins/kat_webpage_analysis/har/__init__.py
  boefjes/boefjes/plugins/kat_webpage_analysis/har/httpx.py
  boefjes/boefjes/plugins/kat_webpage_analysis/har/requests.py
  boefjes/boefjes/plugins/kat_webpage_analysis/main.py
  boefjes/debian/rules
  boefjes/poetry.lock
  boefjes/pyproject.toml
  boefjes/requirements-dev.txt
  boefjes/requirements.txt
  boefjes/tests/examples/body-page-analysis-normalize.json
  boefjes/tests/examples/download_page_analysis.raw
  boefjes/tests/plugins/test_bodyimage.py
  boefjes/tests/plugins/test_wappalyzer_normalizer.py
Labels: 😸 Review/QA feedback

#3983 Docs: Add nibble documentation
  docs/source/developer-documentation/octopoes.md
  docs/source/manual/user-manual.rst
Labels: documentation, nibbles

#4037 Add risk level severities to docs
  docs/source/manual/user-manual.rst
Labels: documentation

#4031 Fix/remove unneeded lookups for inference params
  rocky/rocky/views/ooi_detail.py
Labels: tech-debt

#4022 Rewrite the dns_alias_resolving bit to a nibble
  octopoes/bits/dns_alias_resolving/bit.py
  octopoes/bits/dns_alias_resolving/dns_alias_resolving.py
  octopoes/nibbles/dns_alias_resolving/__init__.py
  octopoes/nibbles/dns_alias_resolving/dns_alias_resolving.py
  octopoes/nibbles/dns_alias_resolving/nibble.py
  octopoes/tests/integration/test_dns_alias_nibble.py
Labels: nibbles

#4032 Fix/remove unneeded tree lookups on ooi views
  rocky/rocky/locale/django.pot
  rocky/rocky/templates/oois/ooi_detail.html
  rocky/rocky/templates/partials/ooi_detail_related_object.html
  rocky/rocky/templates/tasks/ooi_detail_task_list.html
  rocky/rocky/views/mixins.py
  rocky/rocky/views/ooi_tree.py
  rocky/rocky/views/ooi_view.py
  rocky/tests/objects/test_objects_graph.py
  rocky/tests/objects/test_objects_tree.py
Labels: tech-debt

#4023 Port https_availability bit → nibble
  octopoes/nibbles/https_availability/nibble.py
  octopoes/tests/integration/test_https_availability_nibble.py
Labels: nibbles
